@import '../../../../scss/colors';
.setting-performance{
    
    .performance-add-button{
        &:hover{
            opacity: 75%;
            color: $text-teriary-label-color !important;
             }

    }
     .ant-input .ant-input-sm {
        &:hover{
          border: none !important;
             }
    }


}