@import "../../scss/_colors.scss";

.signup-form {
  .form-style {
    display: flex !important;
    justify-content: center;
    margin-top: 2rem;
    height: 90vh;
    overflow-x: scroll;
  }

  .form-inner-wrapper {
    border: 1px solid $text-error-line-color;
    box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
    border-radius: 16px;
    padding: 2rem;
  }

  .logo-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .input-style {
    background: $text-input-bg-color;
    border-radius: 8px;
    height: 48px;
    padding: 8px 16px 8px 16px !important;
  }

  .ant-input-affix-wrapper>input.ant-input {
    background: $text-input-bg-color !important;
  }

  .login-form-button {
    padding: 10px 0px 30px 0px;
    background-color: $primary-bg-color;
    width: 100%;
  }

  .a-tag-signup {
    color: $secondary-bg-color;
  }

  .a-tag-signup:hover {
    color: $secondary-bg-color;
  }

  .login-form-forgot {
    color: $primary-bg-color;
  }
}

.verfiction-link {
  .verfiction-link-style {
    display: flex !important;
    justify-content: center;
    margin-top: 6rem;
  }

  .logo-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .fly-wrapper {
    display: flex;
    justify-content: center;
  }

  .form-inner-wrapper {
    border: 1px solid $text-error-line-color;
    box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
    border-radius: 16px;
    padding: 2rem;

    .main-title {
      color: $primary-bg-color;
      font-size: 30px;
      font-weight: 500;
      line-height: 40px;
      text-align: center;
    }

    .secondary-title {
      color: #4e4b66;
      font-size: 16px;
      font-weight: 400;
      line-height: 40px;
      text-align: center;
    }
  }

  .a-tag-signup {
    color: $secondary-bg-color;
  }

  .a-tag-signup:hover {
    color: $secondary-bg-color;
  }

  .login-form-forgot {
    color: $primary-bg-color;
  }
}

.verify-form-signup {
  .identity {

    .identity-style {
      display: flex !important;
      justify-content: center;
      margin-top: 2rem;
      height: 90vh;
      overflow-x: scroll;
    }

    .logo-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
    }

    .login-form-button {
      padding: 10px 0px 30px 0px;
      background-color: $primary-bg-color;
      width: 100%;
    }

    .btn-cancel-verification {
      text-align: center;
      width: 100%;
    }

    .input-style {
      background: $text-input-bg-color;
      border-radius: 8px;
      height: 48px;
      padding: 8px 16px 8px 16px !important;
    }

    .form-inner-wrapper {
      border: 1px solid $text-error-line-color;
      box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
      border-radius: 16px;
      padding: 2rem;
    }

    .steps-description {
      font-size: 16px;
      font-weight: 500;
      color: $text-secondary-body-color;
      text-align: center;
    }

    .dragger {
      border: 2px dashed $text-primary-title-color;
      border-radius: 4px;
    }

  }

  .university-detail {
    .university-detail-style {
      display: flex !important;
      justify-content: center;
      margin-top: 2rem;
      height: 80vh;
      overflow-x: scroll;
    }

    .logo-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
    }

    .login-form-button {
      padding: 10px 0px 30px 0px;
      background-color: $primary-bg-color;
      width: 100%;
    }

    .btn-cancel-verification {
      text-align: center;
      width: 100%;
    }

    .input-style {
      background: $text-input-bg-color;
      border-radius: 8px;
      height: 48px;
      padding: 8px 16px 8px 16px !important;
    }

    .form-inner-wrapper {
      border: 1px solid $text-error-line-color;
      box-shadow: $accommodation-card-shadow;
      border-radius: 16px;
      padding: 2rem;
    }

    .steps-description {
      font-size: 16px;
      font-weight: 500;
      color: $text-secondary-body-color;
      text-align: center;
    }

    .video-description {
      font-size: 20px;
      font-weight: 500;
      color: $primary-bg-color;
    }

    .list-style {
      font-size: 16px;
      font-weight: 400;
      color: $text-secondary-body-color;
    }

    .main-box-video {
      background: $white-bg-color;
      border: 1px solid $text-input-bg-color;
      box-shadow: $accommodation-card-shadow;
      border-radius: 10px;
      padding: 10px;
      width: 500px;
      height: 300px;
    }

    .secondary-box-div {
      background: $text-input-bg-color;
      border-radius: 16px;
      width: 100%;
      height: 280px;
      position: relative;
    }

    .inner-box-video {
      position: absolute;
      top: 45%;
      left: 45%;
      border: 10px solid $text-off-white-color;
      border-radius: 100%;
      height: 50px;
      width: 45px;
    }

    .dragger {
      border: 2px dashed black;
      border-radius: 4px;
    }
  }
}

.verify-modal {
  padding: 1rem;

  .top-question {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: $text-primary-title-color;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .question-description {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $teriary-light;
    padding-bottom: 2rem;
  }

  .stepnumber {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $light-step-color;
  }

  .stepdescription {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $light-heading-color;
  }
}

.about-buisness {
  .about-buisness-style {
    display: flex !important;
    justify-content: center;
    margin-top: 6rem;
  }

  .form-inner-wrapper {
    border: 1px solid $text-error-line-color;
    box-shadow: $accommodation-card-shadow;
    border-radius: 16px;
    padding: 2rem;
  }

  .logo-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .login-form-button {
    padding: 10px 0px 30px 0px;
    background-color: $primary-bg-color;
    width: 100%;
  }
}

.select-user-heading {
  font-weight: 500;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: $primary-bg-color;
}

.images-wrapper {
  padding-top: 5rem;
}

.select-user-label {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: $text-primary-title-color;
  padding-top: 2rem;
}

.select-user-continue {
  background: $primary-bg-color;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.043);
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: $white-bg-color;
  width: 50%;
}

.image-wrapper-box {
  background: $white-bg-color;
  box-shadow: $accommodation-card-shadow;
  border-radius: 16px;
  padding: 3rem;
  padding-left: 6rem;
  padding-right: 6rem;
  position: relative;
}

.active {
  border: 1px solid $primary-bg-color;
}

.icon-check {
  position: absolute;
  top: -8%;
  left: 42%;
  background-color: $white-bg-color;
}