.main_view_detail{
    .SearchBar{
        max-width: 375px;
    }
    .view_history_button_wrapper{
        .button_request_leave{
            border: unset;
            &:hover{
                border: unset;
            }
        }
    }
}