@import "../../../../scss/_colors.scss";

.calendar-drawer-wrapper {
  .ant-drawer-header {
    padding: 20px !important;
    padding-bottom: 10px !important;
  }

  .event-detail-wrapper {
    .heading {
      color: $text-primary-title-color;
    }

    .event-detail,
    .event-type,
    .onsite,
    .virtual,
    .attendees {
      border-bottom: 1px solid $text-error-line-color;
      margin-bottom: 20px;
    }

    .event-detail {
      padding-top: 25px;
      border-top: 1px solid $text-error-line-color;

      .event-info {
        color: $text-secondary-body-color;
      }

      .user-role {
        color: $text-success-placeholder-color;
      }
    }

    .onsite .flex,
    .virtual .link {
      border: 1px solid $dark-grey-color;
      padding: 8px 16px;
      cursor: pointer;
    }

    .attendees .user-list {
      max-height: 150px;
      overflow-y: scroll;
    }
  }

  .edit-detail-wrapper {
    border-top: 1px solid $text-error-line-color;

    .label {
      color: $text-primary-title-color;
    }

    .recurrence .drop-down-wrapper,
    .attendees-dropdown,
    .description .ant-input {
      background-color: transparent;
      border: 2px solid $text-error-line-color;

      &:hover {
        border: 2px solid $input-hover-color;
      }
    }

    .virtual-link {
      background-color: $certificate-textarea-bg;
      border: 1px solid $certificate-textarea-border;

      a {
        color: $dark-grey-color;
      }
    }

    .on-site-address {
      border: 1px solid $dark-grey-color;

      p {
        color: $dark-grey-color;
      }
    }

    .description .ant-input:hover {
      box-shadow: none;
    }
    .repeat-weekday {
      .total-count {
        padding: 8px 16px;
        width: 80px;
        border: 1px solid $text-error-line-color;
        color: $text-primary-title-color;

        .repeat-week {
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            display: none;
          }

          &:focus {
            box-shadow: none;
            border: none;
            outline: none;
          }
        }
      }

      .weeks {
        color: $text-teriary-label-color;
      }

      .day {
        height: 28px;
        width: 28px;
        background: $text-input-bg-color;
        color: $light-grey-color;

        &.active {
          background-color: $primary-light-bg-color;
          color: $white-bg-color;
        }
      }
    }
  }

  .edit-reminder-wrapper {
    .input-wrapper .ant-input,
    .common-date-picker-wrapper .ant-picker,
    .description {
      &:hover {
        border: 2px solid $input-hover-color;
        box-shadow: none;
      }

      border: 2px solid $text-error-line-color;
    }
  }

  .outlined-btn {
    color: $text-error-color;
    border: 1px solid $text-error-color;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    border-radius: 8px;

    &:hover {
      color: $text-error-color;
      border: 1px solid $text-error-color;
    }
  }

  .primary-btn {
    background: $green-graph-tooltip-color;
    color: $white-bg-color;

    &:hover {
      color: $white-bg-color;
      background: $green-graph-tooltip-color;
      border-color: $green-graph-tooltip-color;
    }
  }
  .ant-select-selector {
    background-color: $white-bg-color !important;
  }
}
