.delegate-agent {
  .main-title {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;

    color: #363565;
  }
  .card-main {
    background: #ffffff;
    border: 1px solid #d9dbe9;
    box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
    border-radius: 16px;
    padding: 5px;
  }
  .card-title {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #4e4b66;
    margin-top: 5px;
  }
  .card-number {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #4e4b66;
  }
  .img-bg {
    margin-left: 10px;
    margin-top: 5px;
  }
  .graph-card {
    background: #ffffff;
    box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
    border-radius: 16px;
    padding: 1rem;
  }
}

