@import "../../../../scss/colors";
//scrollbar styling
.attendance {
  .attendance-log-content {
    max-height: 550px !important;
    overflow-y: scroll !important;
  }

  .attendance-log-comment {
    max-height: 350px;
    overflow-y: scroll;
  }

  .custom-scrollbar {
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background: $scrollbar-track-color;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $scrollbar-thumb-color;
      border-radius: 20px;
    }
  }

  .tree-parent-wrapper {
    margin-left: -2rem;
    .ant-tree-switcher {
      .ant-tree-switcher-icon {
        display: none !important;
      }
    }
  }
}
