//scrollbar styling
.attendance-log-content {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: #f6f6f6;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #c4c4ca;
    border-radius: 20px;
  }
}
.tree-parent-wrapper {
  margin-left: -2rem;
  .ant-tree-switcher {
    .ant-tree-switcher-icon {
      display: none !important;
    }
  }
}
