.ant-notification {
  top: 85px !important;
  .ant-notification-notice {
    border: 1px solid #d9dbe9;
    box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
    border-radius: 16px;
    width: 258px !important;
    .ant-notification-notice-close,
    .ant-notification-notice-close:hover {
      background: #a0a3bd;
      border-radius: 50%;
      color: white;
    }
  }
}
