@import "../../scss/colors";

.leave-card-wrapper {
  .upper_part {
    .upper_part_1 {
      // .imgBg {
      //     background: rgba($color: #4CA4FD, $alpha: 0.1);
      // }

      h4 {
        color: $text-primary-title-color;
      }

      h2 {
        color: $text-secondary-body-color;
      }
    }
  }

  .lower_part {

    .info_wraper {
      .heading {
        color: $text-primary-title-color;
      }

      .info_count {
        color: $text-secondary-body-color;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: -5px;
          transform: translateX(-50%);
          width: 1px;
          background-color: $text-error-line-color;

          @media screen and (max-width:300px) {
            content: unset;
          }
        }

      }

      &:last-child {
        .info_count {
          &::after {
            content: unset;
          }
        }

      }
    }
  }

  @media screen and (min-width:992px) and (max-width:1350px) {
    padding: 12px 10px;
    .heading {
      font-size: 15px;
    }
  }

  @media screen and (min-width:768px) and (max-width:991px) {
    padding: 12px 10px;
    .heading {
      font-size: 14px;
    }
  }
}