.leave-card-wrapper {
    .upper_part {
        .upper_part_1 {
            // .imgBg {
            //     background: rgba($color: #4CA4FD, $alpha: 0.1);
            // }

            h4 {
                color: #14142A;
            }

            h2 {
                color: #4E4B66;
            }
        }
    }

    .lower_part {
        .info_wraper {
            .heading {
                color: #14142A;
            }

            .info_count {
                color: #4E4B66;

            }
        }
    }
}