@import "../../../../scss/colors";

.attendance{
    .ant-select-multiple{

        .ant-select-selection-item{
            width: 8rem !important;
            border-radius: 24px !important;
        }
    }

    .attendence-log-btn{
        &:hover {
            color: $white-bg-color;
            border: 1px solid $white-bg-color;
        }
    }
}