@import "../../../../../scss/_colors.scss";

.leaves-add-policy {
  .ant-form-item .ant-form-item-control-input-content {
    .ant-input {
      background: $text-input-bg-color;

      &:hover {
        background: $white-bg-color;
      }
    }
  }

  .ant-picker {
    background: $text-input-bg-color !important;

    &:hover {
      background: $white-bg-color !important;
    }
  }

  .ant-input {
    &:hover {
      background: $white-bg-color !important;
      border-color: $input-hover-color !important;
    }
  }

  .label {
    display: block;
    font-size: 16px;
    color: $text-teriary-label-color;
    margin-bottom: 4px;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
  }

  .add-button {
    font-size: 16px;
    font-weight: 600;

    &:hover {
      opacity: 85%;
      color: $white-bg-color !important;
      outline: 3px solid rgba(161, 177, 169, 0.5) !important;
      border: none !important;
    }
  }

  .active {
    border: none !important;
  }

  .ant-select-selector {
    background: $text-input-bg-color !important;
    border: 1px solid transparent !important;
    opacity: 1;

    &:hover {
      border: 1px solid $input-hover-color !important;
      background: $white-bg-color !important;
    }
  }

  :where(.css-dev-only-do-not-override-14oxq5).ant-select-status-error:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
    border-color: #e66372 !important;

    &:hover {
      border-color: $input-hover-color !important;
    }
  }

  .common-date-picker-wrapper .ant-picker {
    border: 1px solid transparent !important;
  }

  :where(.css-dev-only-do-not-override-14oxq5).ant-picker:not(.ant-picker-disabled).ant-picker-status-error {
    border: 1px solid #d83a52 !important;

    &:hover {
      border-color: $input-hover-color !important;
    }
  }

}