@import "../../scss/colors.scss";

.structure-wrapper {
  background: #f8f8f8;
  overflow-x: scroll;

  // &::-webkit-scrollbar {
  //   background-color: $primary-bg-color;
  //   border-radius: 14px;
  //   border: 3px solid $white-bg-color;
  // }

  .structure {
    transition: top 0.50s ease;
  }

  .card.clicked {
    top: 0px;
  }

  .card.undo {
    top: 20vh;
  }

  .struture-card {
    .card {
      text-align: center;

      .borderLeft {
        border: 1px solid $secondary-light-bg-color;
        left: 23%;
        z-index: 0;
      }

      .avater-content {
        bottom: 75px;
      }

      .content {
        .avater {
          z-index: 2000;
        }
      }

      .card-footer {
        bottom: -15px;
        border: 1px solid $text-error-line-color;

        span {
          color: $text-success-placeholder-color;
        }
      }
    }
  }
}