@import "../../scss/colors.scss";
.struture {
  .card {
    height: 100px;
    text-align: center;
    .borderLeft {
      border: 1px solid #e96f7c;
      left: 20%;
      width: 115px;
      z-index: 0;
    }
    .avater-content {
      bottom: 70px;
      left: 35%;
    }
    .content {
      .avater {
        z-index: 2000;
      }
    }
    .card-footer {
      bottom: -10px;
      left: 35%;
      border: 1px solid $text-error-line-color;
      span{
        color: $text-success-placeholder-color;
      }
    }
  }
}
