@import '../../scss/_colors.scss';

.time-card{
  padding: 0 20px;
  width: 25%;
  @media only screen and (max-width:1125px) {
    width: 100%;
    justify-content: center;
    gap: 20px;
  }
  @media only screen and (max-width:1600px) {
    flex-basis: 50% !important; 
  }
  .heading{
    color: $light-grey-color;
  }
  .card-divider{
    background-color: #ccc;
    font-size: 60px;
    margin-left: 50px;
    @media only screen and (max-width:1600px) {
      display: none;
    }
  }

}

// .border-right{
//   border-right: 1px solid #ccc;
//   @media only screen and (max-width:1125px) {
//     border-right: none;
//     border-bottom:  1px solid #ccc;  
//   }
// }