.reservations{
    .reservation-right{
        @media only screen and (max-width:678px) {
            .main-btn{
                justify-content: space-between;
                width: 100%;
                display: flex;
            }
        }
    }
}