@import '../../../scss/colors';
.case-studies-table{
    .pending{
      background: $text-warning-color;
    }
    .rejected{
      background: $text-error-color;
    }
    .approved{
      background: $text-success-color;
    
  }
}

.casestudies-filter_main_wrapper{
  .drop-down-wrapper{
    background: $white-bg-color;
    border: 1px solid $text-primary-disabled-color;
  }
  .ant-picker{
    background: $white-bg-color;
    border: 1px solid $text-primary-disabled-color;
  }
  .filter-footer{
    .footer-cancel-btn {
      border: 1px solid $teriary-bg-color !important;
      color: $teriary-bg-color !important ;
      padding: 0px 20px;
    }
    .footer-submit-btn {
      background: $teriary-bg-color;
      border: 1px solid $teriary-bg-color;
      color: $white-bg-color;
      padding: 0px 20px;
    }
  }

}