@import "../../../../../scss/colors";

.drawer-wrapper {
  .input-filed {
    border: 1px solid #fcecee !important;
    border-radius: 6px;
  }

  .transort {
    background-color: white;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .transport-focus {
    background-color: $primary-bg-color !important;
    cursor: pointer;

    &:hover {
      cursor: pointer;
    }

    svg path {
      fill: white !important;
    }
  }

  .input-field-wrapper {
    color: #a0a3bd;
    outline: none;
    box-shadow: none;
    background-color: none;

    .ant-input {
      background-color: transparent !important;
      border-color: none !important;
    }

    &:hover {
      outline: none;
      box-shadow: none;
    }
  }
  .ant-select-selector {
    background-color: transparent !important;
  }
}
.buttons-wrapper {
  .Reset-button {
    border: 1px solid #4a9d77 !important;
    color: #4a9d77 !important;
    border-radius: 8px !important;
  }

  .Apply-button {
    background-color: #4a9d77 !important;
    color: white;
    border-radius: 8px;
  }

}