@import "../../../../scss/colors";
.setting-department {
  .department-box-wrapper {
    min-height: 125px !important;
    background-color: $white-bg-color;
    border-radius: 10px;
    padding: 10px;
    text-align: initial;
    max-height: -webkit-fill-available;
    box-shadow: 0px 2px 3px #e4e8f0;
    &:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    }
  }
}
.setting-department-footer {
  .footer-cancel-btn {
    border: 1px solid #4a9d77 !important;
    color: #4a9d77 !important ;
    padding: 0px 20px;
  }
  .footer-submit-btn {
    background: #4a9d77;
    border: 1px solid #4a9d77;
    color: #fff;
    padding: 0px 20px;
  }
}
