.intrne_main {
    .left_upcoming_holiudays {
        .second_row{
            .h4 {
                font-weight: 500;
                font-size: 20px;
                line-height: 28px;
                color:red;
            }
            .upcoming_holidayList{
                padding: 0;
                margin: 0;
                list-style-type: none;
            }

        }
       
    }
}