.intrne_main {
    .left_upcoming_holiudays {
        .upcomming_Holiday {
            color: #4E4B66;
        }
        .upcoming_holidayList {
            // height: 395px;
            // overflow-y: auto;
            &::-webkit-scrollbar{
                width: 0;
            }
            .List_item_wrapper {
                .List_item_main {
                    .left_side {
                        .light_text {
                            color: #A0A3BD;
                        }

                        .date_text {
                            color: #14142A;
                        }
                    }

                    .holiday_typeText {
                        color: #14142A;

                    }

                }
            }

        }
    }

}