@import '../../scss/_colors.scss';
.internship-details{
  .internship-right-sec{
    @media only screen and (max-width:475px){
      flex-direction: column !important;
      .main-btn{
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
.pipeline-heading-style{
  border: 1px solid $text-input-bg-color;
  border-radius: 5px;
}
.pipeline-cards-container{
  margin-top: 10px;
  border-left: 1px solid $text-input-bg-color;
  border-right: 1px solid $text-input-bg-color;
}
.download-icon-style{
  border: 2px solid $text-input-bg-color;
  &:hover {
    border: 2px solid $text-error-line-color;
  }
  border-radius: 5px;
}
.new-intern-main{
  .new-intern-btn{
    @media only screen and (max-width:475px) {
      width: 100%;
    }
  }

}