@import "../../scss/colors";
.pipline-select {
  .ant-select-selector {
    background-color: $text-input-bg-color !important ;
    height: 40px !important;
    border-radius: 0.5rem !important;
    .ant-select-selection-item{
      color: $light-grey-color !important;
    }
  }
}
.ant-select-dropdown{
  z-index: 9999 !important;
}
