.ant-tabs-ink-bar {
  height: 4px !important;
  background: #363565 !important;
  border-radius: 8px 8px 0px 0px !important;
  color: #363565;
}

.ant-tabs-tab-btn {
  color: #a0a3bd !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #363565 !important;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
