.ant-tabs-ink-bar {
  height: 4px !important;
  background: #363565 !important;
  border-radius: 8px 8px 0px 0px !important;
  color: #363565;
}

.ant-tabs-tab-btn {
  color: #363565;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #363565;
}
