.ant-tabs-ink-bar {
  height: 4px !important;
  background: #363565 !important;
  border-radius: 8px 8px 0px 0px !important;
}

.input-style {
  // background: #e6f4f9;
  border-radius: 8px;
  height: 46px;
}
.meeting {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0px;
  }
}
