@import '../../scss/_colors.scss';

.certificate-wrapper {
    .top-heading {
        color: $primary-bg-color;
        border-bottom: 1px solid $text-error-line-color;
    }


    .issue-certificate {
        background: $teriary-bg-color;
        border: 1px solid $teriary-bg-color;
        border-radius: 8px;

        &:hover {
            border: 1px solid $teriary-bg-color;
            box-shadow: 0px 0px 5px 5px $certificate-btn-shadow;
            opacity: 0.8;
        }
    }

    @media screen and (max-width:420px) {

        .right-side {
            flex-wrap: wrap;
            justify-content: start;
        }
    }
}