@import '../../scss/colors.scss';

.top-performance-card-container {
  .performance-card {
    border-bottom: 1px solid #D9DBE9;
    padding: 20px 0;
  }

  .performance-percentage-txt {
    color: $light-grey-color !important;
  }

  .ant-divider-horizontal {
    margin: 12px 0;
  }
}