@import '../../../scss/colors';
.intern-grievance{
.blow-whistle-button{
  &:hover{
    color: $white-bg-color;
  }
}
}
.intern-blow-whistle-footer{
  .footer-cancel-btn {
      border: 1px solid $teriary-bg-color !important;
      color: $teriary-bg-color !important ;
      padding: 0px 20px;
    }
    .footer-submit-btn {
      background: $teriary-bg-color;
      border: 1px solid $teriary-bg-color;
      color: $white-bg-color;
      padding: 0px 20px;
      &:hover{
        color: $white-bg-color;
      }
    }
}