.personal-information {
  .title {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #14142a;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
