@import '../../scss/colors';

.main-student-profile {
  .main-profile-title {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #363565;
  }
  .studdnt-dash{
    background: #FFFFFF;
    box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
    border-radius: 16px;
    padding: 1rem;
    height: 81vh;
    overflow-y: scroll;
    overflow-x: hidden;
    .ant-tabs-tab-active{
      svg{
        path{
          fill:#363565
        }
      }
    }
  }
  .studdnt-dash::-webkit-scrollbar {
    width: 0px;
  }
}
.student-side-bar {
  .main-student-side-bar {
    background: $white-bg-color;
    box-shadow: $accommodation-card-shadow;
    border-radius: 16px;
    margin: 5px;
    padding: 5px;
    .emp-name {
      font-family: "Outfit";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: $text-primary-title-color;
    }
    .emp-desgination {
      font-family: "Outfit";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: $text-secondary-body-color;
    }
    .emp-role {
      font-family: "Outfit";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $text-secondary-body-color;
    }
    .social-info {
      margin: 1.5rem;

      .emp-social {
        padding-left: 1.5rem;
        font-family: "Outfit";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $text-secondary-body-color;
      }
    }
    .main-skill-box {
      display: flex;
      flex-wrap: wrap;
      margin-left: 20px;

      column-gap: 35px;
      row-gap: 8px;
      .skill-box {
        background: $text-input-bg-color;
        border-radius: 14.5px;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 7px;
        padding-bottom: 7px;
        .skills-typography {
          font-family: "Outfit";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: $text-secondary-body-color;
        }
      }
    }
    .intro {
      margin-bottom: 2rem;
      .video-p {
        font-family: "Outfit";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $light-grey-color;
      }
    }
    .a-tag-side {
      font-family: "Outfit";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: $teriary-bg-color;
      margin-left: 1rem;
    }
  }
}


.personal-information {
  .title {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $text-primary-title-color;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .input-style {
    height: 48px;
    border-radius: 8px;
    background-color: $text-input-bg-color;
  }
  .text-area {
    border-radius: 8px;
    background-color: $text-input-bg-color;
  }
}
.general-information {
  .title {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $text-primary-title-color;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .input-style {
    height: 48px;
    border-radius: 8px;
    background-color: $text-input-bg-color;
  }
  .text-area {
    border-radius: 8px;
    background-color: $text-input-bg-color;
  }
}
.immigration-status {
  .status-card {
    background: $white-bg-color;
    border: 1px solid $white-bg-color;
    box-shadow: $accommodation-card-shadow;
    border-radius: 16px;
    padding: 1rem;
    cursor: pointer;
  }
  .title {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $text-secondary-body-color;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.immigration-form {
  .input-style {
    background: $white-bg-color;
    height: 48px;
    box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
  }
}
.document-tabs {
  .upload-button {
    background: $teriary-bg-color;
    border: 1px solid $teriary-bg-color;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 8px;
    color: $white-bg-color;
  }
  .animate {
    background: $white-bg-color;
    border-radius: 8px;
    padding: 1rem;
    margin-top: 20px;
  }
  .animate:hover {
    background-color: $text-input-bg-color;
  }

  .animate:hover .button-ts {
    display: block;
    display: flex;
    gap: 10px;
  }

  .animate .button-ts {
    display: none;
  }
}
.card-tabs {
  .upload-button {
    background: $teriary-bg-color;
    border: 1px solid $teriary-bg-color;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 8px;
    color: $white-bg-color;
  }
  .animate {
    background: "#FFFFFF";
    border-radius: 8px;
    padding: 1rem;
    margin-top: 20px;
  }
  .animate:hover {
    background-color: $text-input-bg-color;
  }
  
  .animate:hover .button-ts {
    display: block;
    display: flex;
    gap: 10px;
  }
  
  .animate .button-ts {
    display: none;
  }
  
  .title {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $text-primary-title-color;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
