.main-student-profile {
  .main-profile-title {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #363565;
  }
  .studdnt-dash{
    background: #FFFFFF;
    box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
    border-radius: 16px;
    padding: 1rem;
    height: 81vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .studdnt-dash::-webkit-scrollbar {
    width: 0px;
  }
}

