@import "../../scss/colors";
.shs-content-menu {
  margin-bottom: 30px;
  .ant-menu.ant-menu-light.ant-menu-horizontal {
    background-color: transparent;
    line-height: 1.5;

    .ant-menu-item {
      color: #A0A3BD;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      padding: 0;
      padding-bottom: 14px;
      margin-left: 50px;
      &:first-child {
        margin-left: 0;
      }
      &::after {
        border: none;
      }

      &.ant-menu-item-selected {
        // color: #363565;
        &::after {
          border: none;
          height: 4px;
          // background-color: #363565;
          width: 100%;
          left: 0;
          border-radius: 8px 8px 0 0;
        }
      }

      &.ant-menu-overflow-item-rest {
        margin-left: auto;
      }
    }
  }
}

.ant-menu-submenu-popup {
  .ant-menu.ant-menu-sub {
    .ant-menu-item {

      &.ant-menu-item-selected {
        // background-color: $text-input-bg-color;
      }
    }
  }
}
