@import "../../../scss/_colors.scss";

.chat-main {
  height: calc(100vh - 200px);

  & > .chat-main-row {
    height: 100%;

    & > .chat-main-col {
      height: 100%;
    }
  }

  .inbox-main {
    background: $white-bg-color;
    box-shadow: 0px 0px 8px 1px $dropdown-overlay-shadow;
    border-radius: 16px;

    .inbox-main-header {
      padding: 20px 20px 10px;
    }
  }

  .incoming {
    max-width: 300px;

    .incoming-message {
      padding: 10px;
      background: #fbfdff;
      border: 1px solid #e9edf0;
      box-shadow: 0px 2px 4px $dropdown-overlay-shadow;
      border-radius: 12px 12px 12px 0px;
      white-space: pre-wrap;
    }
  }

  .message-box-container {
    min-height: 400px;
  }

  .outgoing-message {
    padding: 10px;
    background: #fbfdff;
    border: 1px solid #e9edf0;
    box-shadow: 0px 2px 4px $dropdown-overlay-shadow;
    border-radius: 12px 12px 0px 12px;
    white-space: pre-wrap;
  }

  .textarea-icon {
    width: -webkit-fill-available;
  }

  .chat-textarea {
    &:hover {
      border: none !important;
      box-shadow: none;
    }
  }

  .ant-input:hover,
  .ant-input:focus {
    border: none !important;
    box-shadow: none !important;
  }

  .ant-upload-list-item-done {
    display: none !important;

  }

  .ant-image-mask {
    height: 90px !important;
    margin-top: 10px;
  }
}