.pipeline-wrapper {
    display: flex;
    .pipline-content {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        width: 170px;
        height: 40px;
        margin-left: -33px;
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);

        &:first-child {
            clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
            border-radius: 5px;
        }
    }

    @media only screen and (max-width:768px) {
        flex-direction: column;
        gap: 20px;
        .pipline-content {
            clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
            border-radius: 5px;
            margin-left: 0;
        }
    }

}