
.leaves-add-policy{
    input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}
    .ant-switch {height: 14px !important;
        min-width: 40px;
        .ant-switch-handle
         {top: -4px; width: 20px; }

}}