@import "../../../../../scss/components.scss";

.identity {
  .identity-style {
    display: flex !important;
    justify-content: center;
    margin-top: 6rem;
  }
  .logo-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .login-form-button {
    padding: 10px 0px 30px 0px;
    background-color: $primary-color;
    width: 100%;
  }
  .input-style {
    background: #e6f4f9;
    border-radius: 8px;
    height: 48px;
  }
}

.university-detail {
  .university-detail-style {
    display: flex !important;
    justify-content: center;
    margin-top: 6rem;
  }
  .logo-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .login-form-button {
    padding: 10px 0px 30px 0px;
    background-color: $primary-color;
    width: 100%;
  }
  .input-style {
    background: #e6f4f9;
    border-radius: 8px;
    height: 48px;
  }
}
