@import '../../scss/_colors.scss';

.interns-card-main {
  width: 298px;
  .interns-card {
    background-color: $white-bg-color;
    border: 1px solid $text-input-bg-color;
    box-shadow: 0px 0px 8px 2px $dropdown-overlay-shadow;
    border-radius: 10px;
    .main-card-jsx {
      .join-dob-card-style {
        border: 1px solid $text-input-bg-color;
      }
    }
  }
  .profile-btn{
    border-radius: 8px;
    height: 40px;
    &:hover{
      background-color: #33A5E5;
      color: #fff;
    }
  }
  .chat-btn{
    border-radius: 8px;
    height: 40px;
    &:hover{
      background-color: #4A9D77;
      color: #fff;
    }
  }
  @media only screen and (max-width:600px) {
    width: 100%;
  }
}