@import '../../../scss/_colors.scss';

.time-sheet-intern {
    .view-history {
        color: $teriary-bg-color;
        background: $white-bg-color;
        border: 1px solid $teriary-bg-color;
        box-shadow: 0px 2px 0px $shadow-shade-1;
        border-radius: 8px;

        &:hover {
            opacity: 0.7;
            color: $teriary-bg-color;
            box-shadow: 0px 0px 5px $shadow-shade-2;
        }
    }

    .box-wrapper {
        box-shadow: 0px 0px 8px 1px $shadow-shade-1 !important;
        border-radius: 16px;
        margin-bottom: 30px;
    }

    .add-new-wrapper {
        .add-new-task {
            p {
                color: $text-success-placeholder-color;
            }
        }

        .category-and-timer {
            .bar {
                width: 52px;
                transform: rotate(90deg);
                border: 1px solid $text-error-line-color;
            }
        }
    }

    .timeline-graph {
        p {
            color: $text-secondary-body-color;
        }
    }
}