@import '../../scss/_colors.scss';


.select-wrapper {
    .label {
        color: $text-teriary-label-color;
    }

    .select-comp {
        &.ant-select-open {
            border-color: inherit;
        }

        .ant-select-selector {
            box-shadow: none !important;

            &:hover {
                box-shadow: none;
            }
        }
    }
}

.select-popup-box {

    .ant-select-item {
        height: auto;

        &.ant-select-item-option-active,
        &.ant-select-item-option-selected {
            background-color: transparent;
        }
    }
}