@import '../../../scss/_colors.scss';

.history-detail {
    .panel-main{
        @media only screen and (max-width:575px) {
            justify-content: space-between;
            .seperator{
                display: none;
            }
        }
    }
    border: none;
    box-shadow: $shadow-shade-1 !important;

    .ant-collapse-item {
        border-bottom: none;
    }

    .ant-collapse-content {
        border-top: 1px px solid $text-error-line-color;
        margin: 0 20px;
    }
}