@import "../_colors.scss";

.primary-bg-color {
  background-color: $primary-bg-color;
}

.primary-color {
  color: $primary-bg-color;
}

.primary-light-bg-color {
  background-color: $primary-light-bg-color;
}

.primary-light-color {
  color: $primary-light-bg-color;
}

.secondary-bg-color {
  background-color: $secondary-bg-color;
}

.secondary-color {
  color: $secondary-bg-color;
}

.secondary-light-bg-color {
  background-color: $secondary-light-bg-color;
}

.secondary-light-color {
  color: $secondary-light-bg-color;
}
.text-primary-title-color{
  color:$text-primary-title-color
}
.teriary-bg-color {
  background-color: $teriary-bg-color;
}

.teriary-color {
  color: $teriary-bg-color;
}

.teriary-light-bg-color {
  background-color: $teriary-light-bg-color;
}
.bg-signature-border{
  background-color: $signature-border;
}
.teriary-light-color {
  color: $teriary-light-bg-color;
}

.white-bg-color {
  background-color: $white-bg-color;
}

.white-color {
  color: $white-bg-color;
}

.dashboard-primary-bg-color {
  background-color: $dashboard-primary-bg-color;
}

.dashboard-primary-color {
  color: $dashboard-primary-bg-color;
}

.dashboard-hover-bg-color {
  background-color: $dashboard-hover-bg-color;
}

.dashboard-hover-color {
  color: $dashboard-hover-bg-color;
}

.text-primary-bg-color {
  background-color: $text-primary-title-color;
}

.text-primary-color {
  color: $text-primary-title-color;
}

.text-secondary-bg-color {
  background-color: $text-secondary-body-color;
}

.text-secondary-bg-disabled-color{
  background-color:$text-primary-disabled-color
}

.text-secondary-color {
  color: $text-secondary-body-color;
}

.text-teriary-bg-color {
  background-color: $text-teriary-label-color;
}

.text-teriary-color {
  color: $text-teriary-label-color;
}

.text-success-placeholder-bg-color {
  background-color: $text-success-placeholder-color;
}

.text-success-placeholder-color {
  color: $text-success-placeholder-color;
}

.text-primary-disabled-bg-color {
  background-color: $text-primary-disabled-color;
}

.text-primary-disabled-color {
  color: $text-primary-disabled-color;
}

.text-error-bg-color {
  background-color: $text-error-line-color;
}

.gray-color {
  color: $text-error-line-color;
}
.gray-border-color {
  border-color: $text-error-line-color;
}

.text-link-bg-color {
  background-color: $text-link-color;
}

.text-link-color {
  color: $text-link-color;
}

.text-off-white-bg-color {
  background-color: $text-off-white-color;
}

.text-off-white-color {
  color: $text-off-white-color;
}

.text-input-bg-color {
  background-color: $text-input-bg-color;
}

.text-input-color {
  color: $text-input-bg-color;
}

.text-success-bg-color {
  background-color: $text-success-color;
}

.text-success-color {
  color: $text-success-color;
}

.text-success-hover-bg-color {
  background-color: $text-success-hover-color;
}

.text-success-hover-color {
  color: $text-success-hover-color;
}

.text-error-bg-color {
  background-color: $text-error-color;
}

.text-error-color {
  color: $text-error-color;
}

.text-error-hover-bg-color {
  background-color: $text-error-hover-color;
}

.text-error-hover-color {
  color: $text-error-hover-color;
}

.text-warning-bg-color {
  background-color: $text-warning-color;
}

.text-warning-color {
  color: $text-warning-color;
}

.text-info-bg-color {
  background-color: $text-info-color;
}

.text-info-color {
  color: $text-info-color;
}
.text-info-color-dark {
  color: $text-info-color-dark;
}

.red-graph-tooltip-bg {
  background-color: $red-graph-tooltip-color;
}
.red-graph-tooltip-color{
  color:$red-graph-tooltip-color;
}

.green-graph-tooltip-bg {
  background-color: $green-graph-tooltip-color;
}

.page-header-secondary-bg-color {
  background-color: $page-header-secondary;
}

.page-header-secondary-color {
  color: $page-header-secondary;
}

.light-sky-blue-bg {
  background-color: $light-sky-blue;
}

.light-grey-color {
  color: $light-grey-color;
}

.sky-blue-color-bg {
  background-color: $sky-blue-color;
}

.sky-blue-color {
  color: $sky-blue-color;
}

.light-blue-bg-color {
  background-color: $light-blue-color;
}
.light-blue-color {
  color: $light-blue-color;
}
.light-green-bg-color {
  background-color: $light-green-color;
}
.light-green-color {
  color: $light-green-color;
}
.wrapper-shadow {
  box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
}
.light-orange-color {
  color: $light-orange-color;
}

.info-dark-bg-color {
  background-color: $manager-btn-info;
}

.text-green-color {
  color: $green-graph-tooltip-color;
}

.reset-bg-color {
  background-color: $reset-bg-color;
}

.teriary-light {
  color: $teriary-light;
}

.wrapper-shadow {
  box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
}
.active-bg {
  background-color: $active-color;
}
.line-bg {
  background-color: $line-color;
}
.light-purple-bg {
  background-color: $light-purple-color;
}
.purple-bg {
  background-color: $purple-color;
}
.light-blue-bg {
  background-color: $light-blue-color;
}
.light-gray-color {
  color: $light-gray-color;
}
.gray-color {
  color: $gray-color;
}
.off-white-bg {
  background-color: $off-white-color;
}
.light-gray-border {
  border: 1px solid $certificate-textarea-border;
}
.comp-title {
  color: $comp-title;
}
.comp-bg-title {
  background-color: $comp-title;
}
.accommodation-tag {
  color: $accommodation-tag;
}
.accommodation-bg-tag {
  background-color: $accommodation-tag;
}
.accommodation-bg-tag{
  color:$accommodation-tag-bg
}
.accommodation-tag-bg{
background-color: $accommodation-tag-bg;
}
.accommodation-badge{
  color:$accommodation-badge
}
.accommodation-badge-bg{
background-color: $accommodation-badge;
}

.accommodation-btn-info-bg {
  background-color: $accommodation-btn-info-bg;
}
.accommodation-btn-info {
  color: $accommodation-btn-info;
}
.yellow-bg{
  background-color: $yellow-status-color;
}
.organ-status-bg{
  color: $orange-status-color;
}
.light-gray-bg-color{
  background-color: $light-gray-color;
}
.light-yellow-bg-color{
  background-color: $light-yellow-color;
}
.light-green-bg-color{
  background-color: $light-green-color;
}
.light-red-bg-color{
  background-color: $light-red-color;
}
.sand-bg-color{
  background-color: $sand-brown-color;
}
.sand-color{
  color: $sand-brown-color;
}