@import "../../../../../../scss/colors";

.certificate-of-appreciation-new-template {
  .ant-radio .ant-radio-inner {
    display: none;
  }
  .eye-icon {
    path {
      fill: $white-bg-color;
    }
  }
  .input-style {
    background: $text-input-bg-color !important;
    border-color: $white-bg-color;
    border: 1px solid transparent;
    opacity: 1;

    &:hover {
      border: 1px solid $input-hover-color !important;
      background: $white-bg-color !important;
    }

    &:focus {
      box-shadow: none;
      border: 1px solid $input-hover-color !important;
    }
  }

  .certificate-card {
    background-color: $white-bg-color;
    // background-color: red;
    border-radius: 10px;
    padding: 20px 20px;
    text-align: initial;
    max-height: -webkit-fill-available;
    box-shadow: 0px 0px 8px 2px rgba(9, 161, 218, 0.1);
    // box-shadow: 0px 2px 3px $white-bg-color;
    // border: 2px solid $white-bg-color;

    .certificate-tick-circle {
      top: -16px;
      right: 0;
    }

    &:hover {
      border: 2px solid $text-primary-disabled-color;
    }

    .card-image-box {
      &:hover .image {
        opacity: 1;
        background: rgba($color: #424141, $alpha: 1);
        border-radius: 8px;
      }

      &:hover .background-img {
        opacity: 0.5;
        background: rgba($color: #424141, $alpha: 1);
        border-radius: 8px;
      }

      &:hover .middle {
        opacity: 100%;
      }

      .text {
        font-size: 40px;
        color: $white-bg-color;
      }

      .image {
        opacity: 1;
        width: 100%;
        height: auto;
        transition: 0.5s ease;
        backface-visibility: hidden;
      }

      .middle {
        transition: 0.5s ease;
        opacity: 0;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }
    }
  }

  .text-editor {
    border: 2px solid $white-bg-color;

    &:hover {
      background-color: $white-bg-color;
      border: 2px solid $input-hover-color;
    }
  }

  .ql-container {
    min-height: 10rem;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 8px 8px;
    border: none;
  }

  .ql-toolbar.ql-snow {
    border-radius: 8px 8px 0px 0px;
    border: none;
  }

  .add-button {
    font-size: 16px;
    font-weight: 600;

    &:hover {
      opacity: 75%;
      color: $white-bg-color !important;
      outline: 3px solid rgba(161, 177, 169, 0.5) !important;
      border: none !important;
    }
  }
}