@import "../../../scss/colors";
.setting-common-modal{
    .box-wrapper{
        .box-wrapper-content{
        overflow-y: scroll;
      
  &::-webkit-scrollbar {
    background-color: $primary-bg-color;
    border-radius: 1px;
    width: 0px;
  }
       
    }}


}
.setting-common-modal-footer{
  .footer-cancel-btn {
    border: 1px solid #4a9d77 !important;
    color: #4a9d77 !important ;
    padding: 0px 20px;
  }
  .footer-submit-btn {
    background: #4a9d77;
    border: 1px solid #4a9d77;
    color: #fff;
    padding: 0px 20px;
  }
}