@import "../../../../../scss/colors";
.certificate-of-appreciation-new-template {
  .certificate-card {
    background-color: $white-bg-color;
    border-radius: 10px;
    padding: 20px 20px;
    text-align: initial;
    max-height: -webkit-fill-available;
    box-shadow: 0px 2px 3px #e4e8f0;
    border: 2px solid #e4e8f0;

    .certificate-tick-circle{
      top: -16px;
      right: 0;

    }

    &:hover {
      border: 2px solid $text-primary-disabled-color;
    }
    .card-image-box {
      &:hover .image {
        opacity: 1;
        background: rgba($color: #424141, $alpha: 1);
        border-radius: 8px;
      }
      &:hover .background-img {
        opacity: 0.5;
        background: rgba($color: #424141, $alpha: 1);
        border-radius: 8px;
      }

      &:hover .middle {
        opacity: 100%;
      }
      .text {
        font-size: 40px;
        color: aliceblue;
      }

      .image {
        opacity: 1;
        width: 100%;
        height: auto;
        transition: 0.5s ease;
        backface-visibility: hidden;
      }
      .middle {
        transition: 0.5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }
    }
  }
  .ql-container {
    min-height: 10rem;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 8px 8px;
    border: none;
  }
  .ql-toolbar.ql-snow {
    border-radius: 8px 8px 0px 0px;
    border: none;
  }
}
