.ant-layout-footer {
  transition: all 0.2s;
  background-color: #ffffff;
  box-shadow: 0px -4px 12px 0px rgba(54, 53, 101, 0.1);
  padding: 30px 15px;

  @media (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    height: 60px;
    padding: 14px 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }

  .footer-copyright {
    font-size: 14px;
    color: #14142A;
    text-align: center;

    span {
      font-weight: 700;
      color: #363565;
    }

    @media (min-width: 1200px) {
      text-align: left;
    }
  }

  .footer-menu {
    ul {
      list-style: none;
      margin: 0;
      padding: 20px 0;
      display: flex;
      justify-content: center;

      @media (min-width: 1200px) {
        padding: 0;
      }

      a {
        line-height: 20px;
        color: #363565;
        font-size: 14px;
        font-weight: 400;
        display: inline-block;

        @media (min-width: 1200px) {
          line-height: 32px;
        }

        li {
          padding: 0 20px;
        }

        &:not(:first-child) {
          border-left: 1px solid #363565;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  .social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 24px;

    li {
      margin: 0 10px;

      a {
        display: inline-block;
      }
    }

    @media (min-width: 1200px) {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
    }
  }
}