@import '../../scss/_colors.scss';

.PUBLISHED {
  background-color: $text-success-color;
}

.PENDING {
  background-color: $text-warning-color;
}

.DRAFT {
  background-color: $text-info-color;
}

.CLOSED {
  background-color: $text-primary-disabled-color;
}

.REJECTED  {
  background-color: $text-error-color;
}