@import "../../../../../scss/_colors.scss";
.add-location {
  .ant-form-item .ant-form-item-control-input-content {
    .ant-input {
      background: $text-input-bg-color;
      border:2px solid $white-bg-color ;

      &:hover {
        background: $white-bg-color;
        border: 2px solid $input-hover-color;

      }
    }
  }

  .ant-select-single {
    .ant-select-selector {
      background: $text-input-bg-color;

      &:hover {
        background: $white-bg-color;

      }
    }
  }
  .label {
    display: block;
    font-size: 16px;
    color: $text-teriary-label-color;
    margin-bottom: 4px;
  }

  select {
    border: 2px solid $text-error-line-color;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 5px;
    height: 48px;
    color: $text-success-placeholder-color;
    border-radius: 8px;

    &:hover {
      border: 2px solid $input-hover-color;
    }

    &:focus {
      box-shadow: none;
      border: 2px solid $input-hover-color;
    }
  }
  .add-button {
    &:hover {
      opacity: 75%;
      color: white !important;
    }
  }
}
