@import "../../../../../scss/_colors.scss";

.add-location {
  .post-code {
    .search-bar {
      background: $text-input-bg-color;
      border-radius: 8px;
      border: 1px solid transparent;
      opacity: 1;

      &:hover {
        border: 1px solid $input-hover-color !important;
        opacity: 1;
        background-color: $white-bg-color;
      }

      .ant-input {
        background-color: transparent;

        &:hover {
          box-shadow: none !important;

        }

        &:focus {
          outline: none;
          box-shadow: none !important;
        }
      }
    }
  }

  .ant-input-affix-wrapper:hover .ant-input {
    background-color: $white-bg-color !important;
  }

  .ant-input-affix-wrapper .ant-input:focus {
    border: none !important;
  }

  .input-style,
  .ant-input {
    background: $text-input-bg-color !important;
    border-color: $white-bg-color;
    border: 1px solid transparent;
    opacity: 1;

    // .ant-input {
    //   background: $text-input-bg-color !important;
    //   border: 0;

    //   // &:hover {
    //   //   border: 1px solid $input-hover-color !important;
    //   //   background: $white-bg-color !important;
    //   // }
    // }

    &:hover {
      background: $white-bg-color !important;
      border: none !important;
    }

    &:focus {
      box-shadow: none;
      border: 1px solid $input-hover-color !important;
    }
  }

  .ant-select-selector {
    background: $text-input-bg-color !important;
    border: 1px solid transparent !important;
    opacity: 1;

    &:hover {
      border: 1px solid $input-hover-color !important;
      background: $white-bg-color !important;
    }
  }

  :where(.css-dev-only-do-not-override-14oxq5) .ant-select-status-error:not(.ant-select-disabled) :not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
    border-color: #e66372 !important;

    &:hover {
      border-color: $input-hover-color !important;
    }
  }

  .post-code {
    background: $white-bg-color !important;
  }

  .label {
    display: block;
    font-size: 16px;
    color: $text-teriary-label-color;
    margin-bottom: 4px;
  }

  .add-button {
    font-size: 16px;
    font-weight: 600;

    &:hover {
      opacity: 85%;
      color: $white-bg-color !important;
      outline: 3px solid rgba(161, 177, 169, 0.5) !important;
      border: none !important;
    }

    &:hover {
      opacity: 75%;
      color: white !important;
    }
  }

  .active {
    border: none !important;
  }

  .dragger {
    border: 2px dashed $text-teriary-label-color;
    border-radius: 4px;
    padding: 20px 0px;
  }

  .drag-drop-upload-style {
    border: none;
    background-color: $white-bg-color;
    border-radius: 5px;
  }

  .react-tel-input .form-control {
    border-radius: 8px;
    background-color: $text-input-bg-color !important;
    border-radius: 6px !important;

    &:hover {
      background-color: transparent !important;
      border: 1px solid gray !important;
    }
  }

  .form-control {
    height: 48px !important;
    width: 100%;

    .selected-flag {
      width: 40px !important;
    }
  }

  input[type="file"] {
    display: none;
  }
}