@import "../../../../../scss/_colors.scss";

.add-location {
  font-family: outfit !important;

  .post-code {
    .search-bar {
      background: $text-input-bg-color;
      border-radius: 8px;
      border: 1px solid transparent;
      opacity: 1;

      &:hover {
        border: 1px solid $input-hover-color !important;
        opacity: 1;
        background-color: $white-bg-color;
      }

      .ant-input {
        background-color: transparent;

        &:hover {
          box-shadow: none !important;

        }

        &:focus {
          outline: none;
          box-shadow: none !important;
        }
      }
    }
  }

  .input-style {
    background: $text-input-bg-color !important;
    border-color: white;
    border: 1px solid transparent;
    opacity: 1;

    &:hover {
      border: 1px solid $input-hover-color !important;
      background: $white-bg-color !important;
    }

    &:focus {
      box-shadow: none;
      border: 1px solid $input-hover-color !important;
    }
  }

  .post-code {
    background: $white-bg-color !important;
  }

  .ant-dropdown-trigger {
    height: 48px !important;
  }

  .label {
    display: block;
    font-size: 16px;
    color: $text-teriary-label-color;
    margin-bottom: 4px;
  }

  select {
    border: 2px solid $text-error-line-color !important;
    border-radius: 8px;
    font-size: 16px;
    height: 48px;
    color: $text-success-placeholder-color;
    border-radius: 8px;

    &:hover {
      border: 2px solid $input-hover-color !important;
    }

    &:focus {
      border: 2px solid $input-hover-color;
    }
  }

  .add-button {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Outfit';

    &:hover {
      opacity: 85%;
      color: $white-bg-color !important;
      outline: 3px solid rgba(161, 177, 169, 0.5) !important;
      border: none !important;
    }

    &:hover {
      opacity: 75%;
      color: white !important;
    }
  }

  .active {
    border: none !important;
}

}