@import '../../scss/_colors.scss';

// body {
//   background: $text-input-bg-color;
// }

.progress_stepper {
  display: flex;
  margin: 10px 20px 10px 20px;
  padding: 0;
  width: 95%;
  list-style: none;
  position: relative;
  @media only screen and (max-width:1400px){
    flex-wrap: wrap;
    gap: 5px;
    .progress_stepper__item {
      font-size: 12px;
      flex-basis: 50%;
    }
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    content: "";
    width: calc(100% - 20px);
    background-color: $white-bg-color;
  }
}

.progress_stepper__item {
  flex: 100%;
  color: $white-bg-color;
  text-align: center;
  padding: 20px 10px;
  background-color: $text-error-line-color;
  margin: 0 0 0 -15px;
  -webkit-clip-path: polygon(20px 50%, 0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
  clip-path: inset(10 10 10 10 round 10px);

  &.progress_applied {
    background-color: $dashboard-primary-bg-color;
  }

  &.progress_interviewed {
    background-color: $accommodation-tag;
  }

  &.progress_recommended {
    background-color: $purple-color;
  }

  &.progress_offer-letter {
    background-color: $light-purple-color;
  }

  &.progress_contract {
    background-color: $line-color;
  }

  &.progress_hired {
    background-color: $teriary-bg-color;
  }

  &.progress_reject {
    background-color: $page-header-secondary;
  }
  &.progress_grayed-out {
    background-color: $text-error-line-color;
    color: $text-primary-title-color
  }

  &:first-child {
    padding: 20px 10px;
    -webkit-clip-path: polygon(0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
  }

  &:last-child {
    // -webkit-clip-path: polygon(20px 50%, 0% 0%, 100% 0%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(20px 50%, 0% 0%, 100%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
  }
}