@import '../../../../scss//colors';

.escalated-btn {
  border: 1px solid $dashboard-primary-bg-color;
  padding-right: 20px;
  border-right: none;
  border-radius: 8px 0px 0px 8px;
}

.escalated-icon {
  border: 1px solid $dashboard-primary-bg-color;
  border-radius: 0px 8px 8px 0px;
  height: 38px;
}

.filter_main_wrapper {
  .asignee-wrap {
    .drop-down-with-imgs {
      background: $white-bg-color;
      border-radius: 8px;
      display: block;
      padding: 6px 12px;
      color: $text-success-placeholder-color;
      cursor: pointer;
      text-transform: capitalize;
      border: 1px solid $text-error-line-color;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 48px;

      &:hover,
      &.active {
        border: 2px solid $input-hover-color;
        background-color: $white-bg-color;
      }
    }
  }
  .drop-down-wrapper {
    background: $white-bg-color;
    border: 1px solid $text-primary-disabled-color;
  }
}

.all-grievance {
  .blow-whistle-button {
    border-radius: 8px !important;
    width: 196px;
    font-size: 16px;
    font-weight: 600;

    &:hover {
      opacity: 75%;
      color: $white-bg-color !important;
      outline: 2px solid rgba(161, 177, 169, 0.5) !important;
      border-color:$white-bg-color !important;
    }
  }

  .ant-divider-horizontal {
    background: $text-error-line-color !important;
  }

  .new {
    background: #FF6F31;
  }

  .in-progress {
    background: #128AF9;
  }

  .re-opened {
    background: #1FBEC8;
  }

  .resolved {
    background: #3DC575;
  }
}