@import "../../scss/colors";

.DigivaultCard {
  background: $white-bg-color;
  border: 1px solid $text-input-bg-color;
  box-shadow: 0px 0px 8px 2px rgba(9, 161, 218, 0.1);
  border-radius: 10px;
  padding: 15px;
}

.digivault-wrapper {
  background: #FFFFFF;
  border: 1px solid #E6F4F9;
  box-shadow: 0px 0px 8px 2px rgba(9, 161, 218, 0.1);
  border-radius: 10px;
  padding: 10px;

  .upper-part {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .bgImg {
      background: rgba($color: #4ca4fd, $alpha: 0.1);
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
    }
  }

  h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #14142a;
    margin: 0;
    margin-top: 18px;
  }

  h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #6e7191;
    margin: 0;
  }
}

.hover-effect-0:hover {
  background-color: #4ca4fd;
}
.hover-effect-1:hover {
  background-color: #ffc15d;
}
.hover-effect-2:hover {
  background-color: #e96f7c;
}
.hover-effect-3:hover {
  background-color: #6aad8e;
}
.hover-effect-4:hover {
  background-color: #9bd5e8;
}
.hover-effect-5:hover {
  background-color: #a485de;
}
.digivault-wrapper:hover {
  // background-color: #4CA4FD;
  cursor: pointer;
  &:hover {
    h4,
    h6,
    img {
      color: white;
    }
  }
}
