@import '../../../../../scss//colors';
.company-logo-holder {
	position: relative;
}

.upload-modal-button {
	border: 1px dashed $light-grey-color;
	border-radius: 8px;
	padding: 20px;
	text-align: center;
	cursor: pointer;



	.upload-modal-button-text {
		font-size: 20px;
		font-weight: 500;
		line-height: 1.4;
		color: $primary-bg-color;

		& > span {
			color: $secondary-bg-color;
		}
	}

	.upload-modal-button-help {
		color: $light-grey-color;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.5714285;
	}
}

.logo-upload-drager {
	margin-bottom: 30px;
	.ant-upload-wrapper {
		.ant-upload-drag {
			border: none;
			background-color: transparent;

			.ant-upload-btn {
				padding: 0;

				.ant-upload-drag-container {
					.upload-modal-button {
						padding-top: 100px;
						padding-bottom: 90px;
						border-width: 2px;
					}
				}
			}
		}

		.ant-upload-list {

			.ant-upload-list-item-container {
				.ant-upload-list-item {
					max-width: 256px;
					height: 50px;
					background-color: #E6F4F9;
					margin-top: 20px;
					padding: 10px;
					border-radius: 4px;

					.ant-upload-icon {
						height: 30px;
						width: 30px;
						min-width: 30px;
					}

					.ant-upload-list-item-name {
						padding: 0 10px;
						font-size: 14px;
						color:#363565;
					}

					.ant-upload-list-item-actions {
						height: 20px;
						width: 20px;
						display: inline-flex;

						.ant-btn.ant-btn-sm.ant-btn-icon-only {
							min-width: 0;
							width: 20px;
							height: 20px;
							padding: 0;
							opacity: 1;
							
							&:hover {
								background-color: transparent;
							}

							svg {
								max-height: 20px;
							}
						}
					}
				}
			}
		}
	}
}

.logo-preview {
	background-color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px dashed $light-grey-color;
	border-radius: 8px;

	& > img {
		max-width: 100%;
		max-height: 64px;
	}

	.org-logo-actions {
		position: absolute;
		bottom: 0;
		right: 0;
		height: 0;
		width: 0;
		border-radius: 8px;
		background-color: rgba(160, 163, 189, 0.8);
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		transition: all 0.3s;

		.org-logo-action-items {
			display: flex;

			& > .divider {
				width: 1px;
				height: 32px;
				background-color: #fff;
				margin: 0 15px;
			}

			& > .action-delete, .action-edit {
				height: 32px;
				width: 32px;
				cursor: pointer;
			}
		}
	}

	.edit-placeholder {
		position: absolute;
		bottom: 20px;
		right: 20px;
		height: 24px;
		width: 24px;
	}

	&:hover {
		.org-logo-actions {
			height: 100%;
			width: 100%;
		}
		.edit-placeholder {
			opacity: 0;
		}
	}
}
