@import '../../../../../scss//colors';
.company-logo-holder {
	position: relative;
}

.upload-modal-button {
	border: 1px dashed $light-grey-color;
	border-radius: 8px;
	padding: 20px;
	text-align: center;
	cursor: pointer;



	.upload-modal-button-text {
		font-size: 20px;
		font-weight: 500;
		line-height: 1.4;
		color: $primary-bg-color;

		& > span {
			color: $secondary-bg-color;
		}
	}

	.upload-modal-button-help {
		color: $light-grey-color;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.5714285;
	}
}

.logo-upload-drager {
	margin-bottom: 30px;
	.ant-upload-wrapper {
		.ant-upload-drag {
			border: none;
			background-color: transparent;

			.ant-upload-btn {
				padding: 0;

				.ant-upload-drag-container {
					.upload-modal-button {
						padding-top: 100px;
						padding-bottom: 90px;
						border-width: 2px;
					}
				}
			}
		}
	}
}

.logo-preview {
	background-color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px dashed $light-grey-color;
	border-radius: 8px;

	& > img {
		max-width: 100%;
		max-height: 64px;
	}
}
