@import "../../../../scss/colors";

.uni-profile-form {
    .input-style{
        background-color: $text-input-bg-color !important;
    }
    
    .form-control {
        height: 48px !important;

        .selected-flag {
            width: 45px !important;
        }
    }
}

.btn-cancle {
    border: 1px solid $green-graph-tooltip-color;
    color: $green-graph-tooltip-color;

    &:hover {
        color: $green-graph-tooltip-color !important;
    }
}

.btn-save {
    border: 1px solid $green-graph-tooltip-color;
    background-color: $green-graph-tooltip-color;
    color: $white-bg-color;

    &:hover {
        color: $white-bg-color !important;
    }
}
