@import '../../../scss/_colors.scss';

.role-calendar-wrapper {
  .fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
    background-color: $white-bg-color;

    .fc-scrollgrid.fc-scrollgrid-liquid {
      border: none;
    }

  }

  .fc-theme-standard td,
  .fc-theme-standard th {
    border: none;
  }

  .fc-timegrid-slot-lane,
  .fc-timegrid-col {
    border: 1px solid $text-error-line-color !important;
  }

  .fc-timegrid-slots {
    table {
      border-top: 1px solid $text-error-line-color !important;
    }
  }

  .fc .fc-timegrid-col.fc-day-today {
    background: transparent !important;
  }

  .fc-v-event {
    background: transparent !important;
    border: none !important;
  }

  .event-content {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    background: $white-bg-color;
    padding: 10px 20px;
    max-width: 210px;
    transition: display 0.2s linear;

    .title {
      color: $text-primary-title-color;
    }

    .duration {
      color: $text-secondary-body-color;
    }

    .event-btn {
      border-top: 1px solid $text-error-line-color;
      padding-top: 10px;
      margin-top: 10px;
      display: none;
      width: 100%;
      transition: display 0.3s linear;

      .btn {
        padding: 4px 10px;
        border-radius: 4px;
        min-width: 45% !important;
        color: $text-error-color;
        border: 1px solid $text-error-color;

        &:hover {
          border: 1px solid $text-error-color;
        }

        &.btn-primary {
          background-color: $green-graph-tooltip-color;
          color: $white-bg-color !important;
          border: none;
        }
      }
    }

    &:hover {
      .event-btn {
        display: flex;
      }
    }
  }
  .fc-timegrid-event-harness.fc-timegrid-event-harness-inset:hover{
    z-index: 10 !important;
  }

  .fc-timegrid-slots {
    tbody {
      tr {
        border: 1px solid $text-error-line-color !important;
        height: 74px !important;
      }
    }
  }
}