@import "../../../../../scss/colors";

.leaves-add-policy {
  .input-style {
    background: $text-input-bg-color !important;
    border-color: $white-bg-color;
    border: 1px solid transparent;
    opacity: 1;

    &:hover {
      border: 1px solid $input-hover-color !important;
      background: $white-bg-color !important;
    }

    &:focus {
      box-shadow: none;
      border: 1px solid $input-hover-color !important;
    }
  }

  .ant-btn-sm {
    font-size: 16px;
    height: 36px;
    padding: 5px 7px;
    border-radius: 4px;
    min-width: 20px !important
  }

  .ant-picker {
    background: $text-input-bg-color !important;
    border-color: $white-bg-color;
    border: 1px solid transparent;
    opacity: 1;

    &:hover {
      border: 1px solid $input-hover-color !important;
      background: $white-bg-color !important;
    }

    &:focus {
      box-shadow: none;
      border: 1px solid $input-hover-color !important;
    }
  }

  .add-button {
    font-weight: 600;
    font-family: 'Outfit';

    &:hover {
      opacity: 85%;
      color: $white-bg-color !important;
      outline: 3px solid rgba(161, 177, 169, 0.5) !important;
      border: none !important;
    }
  }
}