@import "../../../../../scss/colors";

.leaves-add-policy {
  .ant-form-item .ant-form-item-control-input-content {
    .ant-input {
      background: $text-input-bg-color;
      border: 1px solid white;
    }
  }

  .ant-picker {
    background: $text-input-bg-color;
    border: 1px solid white;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
  }

  .shift-time {
    .ant-picker-ok {}
  }

  .ant-btn-sm {
    font-size: 16px;
    height: 36px;
    padding: 5px 7px;
    border-radius: 4px;
    min-width: 20px !important
  }

  .ant-form-item .ant-form-item-control-input-content {
    .ant-input {
      background: $text-input-bg-color;
      border: 1px solid white;

      &:hover {
        background: $white-bg-color;
      }
    }
  }

  .ant-picker {
    background: $text-input-bg-color !important;
    border: 1px solid white;

    &:hover {
      background: $white-bg-color !important;

    }
  }
  .active {
    border: none !important;
}

}