@import "../../../scss/colors";
.property-detail-content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;

  .property-detail-content-left {
    flex-shrink: 0;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    flex: 0 0 auto;
    width: 64%;
    @media (max-width: 1400px) {
      width: 100%;
    }

    .property-gallery {
      padding-bottom: 15px;

      .image-gallery {
        .image-gallery-content {
          .image-gallery-thumbnails-wrapper {
            width: 223px;
            margin: 0;
            margin-right: 20px;
    
            .image-gallery-thumbnail + .image-gallery-thumbnail {
              margin-top: 20px;
            }
            .image-gallery-thumbnail {
              width: 223px;
              border: none;
              cursor: pointer;
              &.active {
                background-color: transparent !important;
              }
    
              .image-gallery-thumbnail-inner {
                height: 130px;
                width: 100%;
                 & > img {
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                  border-radius: 8px;
                }
              }
            }
          }
          .image-gallery-slide-wrapper {
            width: calc(100% - 243px);
    
            .image-gallery-slides {
              .image-gallery-slide {
                  height: 518px;
                  
                .image-gallery-image {
                  object-fit: cover;
                  height: 100%;
                  width: 100%;
                  border-radius: 10px;
                }
              }
            }
          }
        }
      }
    
      .image-gallery-bullets {
        .image-gallery-bullet {
          height: 8px;
          width: 8px;
          box-shadow: none;
          border: 1px solid #fff;
          box-sizing: border-box;
          padding: 0;
          background-color: #fff;
          &:hover, &.active, &.active:hover {
            transform: scale(1.5);
            background-color: $accommodation-badge;
            border-color: #fff;
          }
        }
        
      }
    }
  }

  .property-heading {
    display: flex;
    align-items: center;
    padding: 15px 0;

    @media (max-width: 575px) {
      display: block;
    }
    & > .ant-typography {
      margin-bottom: 0;
      font-weight: 500;
    }
    .property-heading-location {
      display: inline-flex;
      align-items: center;
      margin-left: auto;
      border: 1px solid $text-teriary-label-color;
      height: 40px;
      padding: 0 16px;
      border-radius: 20px;
      cursor: pointer;
      & > svg {
        margin-right: 10px;
      }

      @media (max-width: 575px) {
        margin-top: 10px;
      }
    }
  }

  .property-detail-description {
    padding: 15px 0;
    max-width: 874px;
  }

  .property-detial-card {
    background-color: #ffffff;
    box-shadow: 0 0 8px 2px rgba(9, 161, 218, 0.1);
    border-radius: 20px;
    padding: 20px 20px 0;

    .ant-anchor-wrapper {
      background-color: #fff;
      padding: 30px 0 0;
      margin: 0;
      border: none;
      &::before {
        border: none;
        height: 2px;
        background-color: $text-input-bg-color;
        border-radius: 2px;
      }
      .ant-anchor {
        padding-inline-start: 0;
        &::before {
          display: none;
        }
        .ant-anchor-ink.ant-anchor-ink-visible {
          background-color: $primary-bg-color;
          border-radius: 2px;
          height: 2px;
          bottom: -1px;
        }
        .ant-anchor-link {
          padding: 0;
          margin-right: 50px;
          .ant-anchor-link-title {
            color: $text-success-placeholder-color;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            padding-bottom: 16px;
          }
        }
      }
    }

    .property-card-section {
      padding: 50px 0;
      + .property-card-section {
        border-top: 2px solid $text-input-bg-color;
      }
      .section-content {
        padding: 0 10px;
      }
      .card-section-title {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.4;
        color: $text-primary-title-color;
        position: relative;
        padding-bottom: 6px;
        margin-bottom: 30px;
        &::after {
          content: '';
          height: 2px;
          width: 50px;
          background-color: $primary-bg-color;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }
  }

  .property-detail-content-right {
    flex-shrink: 0;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    flex: 0 0 auto;
    width: 36%;
    @media (max-width: 1400px) {
      width: 100%;
      margin-top: 30px;
    }

    .booking-request-faq {
      margin-top: 30px;
      .ant-collapse {
        background-color: transparent;
        border: 1px solid $text-error-line-color;
        border-radius: 10px;
        padding: 15px 30px;

        .ant-collapse-item {
          padding: 15px 0;
          .ant-collapse-header {
            padding: 0;
            .ant-collapse-header-text {
              font-size: 16px;
              font-weight: 500;
              line-height: 1.5;
              color: $text-secondary-body-color;
            }
            .ant-collapse-expand-icon {
              .ant-collapse-arrow {
                transition: all 0.2s;
              }
            }
          }
    
          .ant-collapse-content {
            .ant-collapse-content-box {
              padding: 10px 0 0;
              font-size: 14px;
              font-weight: 400;
              line-height: 1.5714285;
              color: $light-grey-color;
              max-width: 808px;
    
              .panel-third {
                max-width: 606px;
              }
            }
          }
          &.ant-collapse-item-active {
            .ant-collapse-header {
              .ant-collapse-expand-icon {
                .ant-collapse-arrow {
                  transform: rotate(-180deg);
                }
              }
            }
          }
        } 
      }
    }
  }
}
