@import '../../scss/_colors.scss';

.scrollableDiv {
  height: 500px;
  overflow: auto;
}

.scrollableDiv {
  height: 500px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0;
  height: 8px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb:horizontal{
  background: #000;
  // background: $text-input-bg-color;
  border-radius: 10px;
}