@import "../../../../scss/colors";

.complete-verification {
  background: $white-bg-color;
  box-shadow: $accommodation-card-shadow;
  border-radius: 16px;
  padding: 1rem;
  height: 100%;

  .identity {
    .main-heading-verify{
      font-weight: 500;
font-size: 38px;
line-height: 46px;
color: $primary-bg-color;
padding-bottom: 0.9rem;
    }
    .identity-style {
      display: flex !important;
      justify-content: center;
      padding-top: 2rem;
      height: 80vh;
      overflow-x: scroll;
    }

    .logo-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
    }

    .login-form-button {
      padding: 10px 0px 30px 0px;
      background-color: $primary-bg-color;
      width: 100%;
    }

    .btn-cancel-verification {
      text-align: center;
      width: 100%;
    }

    .input-style {
      background: $text-input-bg-color;
      border-radius: 8px;
      height: 48px;
    }

    .form-inner-wrapper {
      border: 1px solid $text-error-line-color;
      box-shadow: $accommodation-card-shadow;
      border-radius: 16px;
      padding: 2rem;
    }

    .steps-description {
      font-size: 16px;
      font-weight: 500;
      color: $text-secondary-body-color;
      text-align: center;
      padding-bottom: 0.9rem;
    }

    .dragger {
      border: 2px dashed $text-primary-title-color;
      border-radius: 4px;
    }
  }

  .university-detail {
    .main-heading-verify{
      font-weight: 500;
font-size: 38px;
line-height: 46px;
color: $primary-bg-color;
padding-bottom: 0.9rem;
    }
    .university-detail-style {
      display: flex !important;
      justify-content: center;
      padding-top: 2rem;
      height: 80vh;
      overflow-x: scroll;
    }

    .logo-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
    }

    .login-form-button {
      padding: 10px 0px 30px 0px;
      background-color: $primary-bg-color;
      width: 100%;
    }

    .btn-cancel-verification {
      text-align: center;
      width: 100%;
    }

    .input-style {
      background: $text-input-bg-color;
      border-radius: 8px;
      height: 48px;
    }

    .form-inner-wrapper {
      border: 1px solid $text-error-line-color;
      box-shadow: $accommodation-card-shadow;
      border-radius: 16px;
      padding: 2rem;
    }

    .steps-description {
      font-size: 16px;
      font-weight: 500;
      color: $text-secondary-body-color;
      text-align: center;
      padding-bottom: 0.9rem;
    }

    .video-description {
      font-size: 20px;
      font-weight: 500;
      color: $primary-bg-color;
      font-family: Outfit;
    }

    .list-style {
      font-size: 16px;
      font-weight: 400;
      color: $text-secondary-body-color;
      font-family: Outfit;
    }

    .main-box-video {
      background: $white-bg-color;
      border: 1px solid $text-input-bg-color;
      box-shadow: $accommodation-card-shadow;
      border-radius: 10px;
      padding: 10px;
      width: 700px;
      height: 300px;
    }

    .secondary-box-div {
      background: $text-input-bg-color;
      border-radius: 16px;
      width: 100%;
      height: 250px;
      position: relative;
    }

    .inner-box-video {
      position: absolute;
      top: 88%;
      left: 45%;
      background: $white-bg-color;
      border: 1px solid $text-input-bg-color;
      box-shadow: $accommodation-card-shadow;
      border-radius: 100%;
      height: 50px;
      width: 50px;
    }

    .dragger {
      border: 1px dashed black;
      border-radius: 4px;
    }

  }
}