@import "../../../scss/colors";

.personal-profile-form {
  .react-tel-input .form-control {
    border-radius: 8px;
    background-color: $text-input-bg-color !important;
    border-radius: 6px !important;

    &:hover {
      background-color: transparent !important;
      border: 1px solid gray !important;
    }
  }

  .form-control {
    height: 48px !important;

    .selected-flag {
      width: 45px !important;
    }
  }

  .ant-select-dropdown {
    padding: 10px 0px;
  }
}

.cancel-Button {
  border: 1px solid $teriary-bg-color !important;

  &:hover {
    border-color: $teriary-bg-color !important;
    color: $teriary-bg-color !important;
    opacity: .8;
  }
}

.add-btn {
  color: $white-bg-color !important;
  border: none !important;

  &:hover {
    opacity: .8;
  }
}

.apply-btn {
  color: $white-bg-color !important;
  border: none !important;

  &:hover {
    opacity: .8;
  }
}

// .phonecode-dropdown {
//   .ant-select-item {
//     padding: 6px 0 !important;
//   }
// }