@import '../../scss/colors';
body {
  background:$text-input-bg-color;
}

.stepper {
  display: flex;
  margin: 10px 20px 10px 20px;
  padding: 0;
  width: 95%;
  list-style: none;
  position: relative;
  
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    content: "";
    width: calc(100% - 20px);
    background: $text-input-bg-color;
  }
}

.stepper__item {
  flex: 100%;
  color:$white-bg-color;
  text-align: center;
  padding: 10px 10px 10px 10px;
  background: repeating-linear-gradient(
				-65deg,
				$text-input-bg-color,
				$text-input-bg-color 20px,
				$text-input-bg-color 20px,
				$text-input-bg-color 40px
			);
  margin: 0 0 0 -15px;
  -webkit-clip-path: polygon(20px 50%, 0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
  
  &.applied {
    background: $primary-bg-color;
  }
  
  &.interviewed {
    background: $primary-bg-color;
  }
  &.recommended {
    background: $primary-bg-color;
  }
  &.offerletter {
    background: $primary-bg-color;
  }
  &.contract {
    background: $primary-bg-color;
  }
  &.hired {
    background: $primary-bg-color;
  }
  
  &:first-child {
    padding: 10px 10px ;
    -webkit-clip-path: polygon(0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
  }
  
  &:last-child {
    // -webkit-clip-path: polygon(20px 50%, 0% 0%, 100% 0%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(20px 50%, 0% 0%, 100%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
  }
}