.university-card {
  max-width: 200px;
  background-image: url("../../assets/images/dashboard/uniCardBg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f5f5f5;
  .wrapper-shadow {
    box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
  }
}
