.activity-log {}

.activity-log-drawer-reset-btn {
    border: 1px solid #4A9D77;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    &:hover {
        border: 1px solid #4A9D77 !important;
        color: #4A9D77 !important;
    }
}

.activity-log-drawer-apply-btn {
    background: #4A9D77;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 8px;
    border: 1px solid #4A9D77;
    &:hover{
        color: white !important;
        border: 1px solid #4A9D77 !important;
    }
    
}