@import "../../../scss/colors";

.active {
  background-color: #A0A3BD !important;
}

.ant-tag-checkable-checked {
  background-color: #5A5980 !important;
}

.logs-content .ant-table .ant-table-cell {
  text-transform: capitalize;
}

.activity-log-drawer-reset-btn {
  border: 1px solid $teriary-bg-color;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);

  &:hover {
    border: 1px solid $teriary-bg-color !important;
    color: $teriary-bg-color !important;
  }
}

.activity-log-drawer-apply-btn {
  background: $teriary-bg-color;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 8px;
  border: 1px solid $teriary-bg-color;

  &:hover {
    color: $white-bg-color !important;
    border: 1px solid $teriary-bg-color !important;
  }
}