.digivault {
  .digivault-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #363565;
  }
  .ant-switch {
    height: 12px !important;
    min-width: 40px;

    .ant-switch-handle {
      top: -4px;
    }
  }

  .setting-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    gap: 10px;
    background: #e6f4f9;
    border-radius: 8px;
    width: 150px;
    height: 48px;
    .setting-btn-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #a0a3bd;
    }
  }

  .manage-vault {
    background: #ffffff;
    border: 1px solid #e6f4f9;
    border-radius: 10px;
    padding: 20px;
    .vault-card {
      background: #ffffff;
      border: 1px solid #e6f4f9;
      box-shadow: 0px 0px 8px 2px rgba(9, 161, 218, 0.1);
      border-radius: 10px;
    }
  }

  .storage {
    padding: 20px;
    background: #ffffff;
    border: 1px solid #e6f4f9;
    border-radius: 10px;
    .storage-bar-header {
      background: #e6f4f9;
      border-radius: 10px;
      padding: 10px;
    }
    .available-storage {
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      color: #14142a;
    }
    .available-storage-value {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #a0a3bd;
    }

    .ant-progress-circle-path {
      color: #5d89f4 !important;
    }

    .ant-progress-text {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: #4e4b66;
    }
  }

  .recent-files {
    padding: 20px;
    background: #ffffff;
    border: 1px solid #e6f4f9;
    border-radius: 10px;
    .recent-files-title {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: #363565;
    }

    .recent-files-tible {
    }
  }

  .table-droupdown {
    position: absolute;
    z-index: 9;
    background: #ffffff;
    border: 2px solid #d9dbe9;
    box-shadow: 0px 0px 8px 2px rgba(9, 161, 218, 0.1);
    border-radius: 8px;
    width: 160px;
    height: 108px;
    right: 194px;
    top: 40px;
    padding: 17px 30px;
    gap: 10px;
  }
}
