@import '../../../scss/colors';

.main_view_detail {
  .view_history_button_wrapper {
    @media only screen and (max-width:575px) {
      flex-direction: column;
    }
  }
  .Request_leave {
    box-shadow: none !important;
    color: $white-bg-color;
    background: $green-graph-tooltip-color;
    display: flex;
    align-items: "center";
    justify-content: center;

    &:hover {
      background: $green-graph-tooltip-color;
    }
  }
}

.action_dropDown {
  box-shadow: 0px 0px 8px 2px $dropdown-overlay-shadow;
}

.data_container {
  .drop-down-wrapper {
    border: 1px solid $text-error-line-color;
    background-color: transparent;

    &:hover {
      outline: 2px solid $input-hover-color;
    }
  }


}

.form_button_wrapper {
  .Reset_btn {
    color: $green-graph-tooltip-color;
    background: $white-bg-color;
    border: 1px solid $green-graph-tooltip-color;

    &:hover {
      background: $white-bg-color;
      color: $green-graph-tooltip-color;
      box-shadow: none;
    }
  }

  .Apply_btn {
    color: $white-bg-color;
    background: $teriary-bg-color;
    border: 1px solid $teriary-bg-color;

    &:hover {
      background: $teriary-bg-color;
      color: $white-bg-color;
      box-shadow: none;
    }

  }
}