@import "../../../scss/colors";

.student-dashboard-main {
  .card-style {
    background: $white-bg-color;
    box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
    border-radius: 16px;
    padding: 1rem;
  }
  .main-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: $primary-bg-color;
  }
  .percent {
    font-weight: 500;
    font-size: 64px;
    line-height: 46px;
    color: #363565;
    padding-top: 1rem;
  }
  .step-desc {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #14142a;
  }
  .step-detail {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    /* Text/Body */

    color: #4e4b66;
  }

  .step-color {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #4e4b66;
  }
  .btn-veri {
    background: #e94e5d;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 8px;
    color: $white-bg-color;
    width: 100%;
  }
}

.main-data-side {
  .card-style {
    background: $white-bg-color;
    box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
    border-radius: 16px;
    padding: 1rem;
  }
  .card-static {
    background: $white-bg-color;
    box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
    border-radius: 16px;
    // width: 380px;
    // height: 174px;
    z-index: -999;
  }
  .card-upper {
    z-index: 999;
    position: relative;
    top: 0;
    padding: 1rem;
    display: flex;
    column-gap: 1rem;
  }
  .one {
    // background-image: url("../../../assets/images/dashboard/studentdashboard/Apply.svg");
    // background-repeat: no-repeat;
    opacity: 0.2;
   
    
    // background-position-x: right;
  
    position: absolute;
    right: 0%;
    top: 8%;
  }
  .two {
    // background-image: url("../../../assets/images/dashboard/studentdashboard/interviews.svg");
    // background-repeat: no-repeat;
    opacity: 0.2;
    // background-size: contain;
    // height: 100px;
    // background-position-x: right;
    z-index: -999;
    position: absolute;
    right: 0;
  }
  .three {
    background: linear-gradient(55.14deg, #61aacf 0%, #1c8db4 98.62%);
    border-radius: 16px;
    padding:1rem;
  }
  .temp{
    font-weight: 500;
font-size: 36px;
line-height: 64px;
text-align: center;
color: $white-bg-color;

  }
  .date-sun{
    font-weight: 500;
font-size: 20px;
line-height: 28px;
color: $white-bg-color;

  }
  .location{
    font-weight: 500;
font-size: 16px;
line-height: 24px;
color: $white-bg-color;
  }
  .card-head{
    font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #4E4B66;

  }
  .card-number{
    font-weight: 500;
font-size: 38px;
line-height: 46px;
color: #14142A;

  }
  .main-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: $primary-bg-color;
  }
}
