@import "../../../scss/colors";

.manager_main {
    .view_history_button_wrapper {
        .button {
            background: $white-bg-color;
            border: 1px solid $teriary-bg-color;
            box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
            color: $teriary-bg-color;
        }
    }
}