@import '../../scss/colors';
.setting{
  .settings-row{
    @media only screen and (max-width:576px) {
      flex-direction: column;
    }

      
  }
}
.setting-location{
  .location-header{
    gap: 10px;
    @media only screen and (max-width:1000px) {
      align-items: flex-start;
      flex-direction: column;
     }
  }
}
.setting-add-button{
  &:hover{
 opacity: 75%;
 color: white !important;
  }

}