@import '../../../scss/_colors.scss';

.timesheet-top-heading {
  color: $primary-bg-color;
  border-bottom: 1px solid $text-error-line-color;
}

.timesheet-history {
  .tasks {
    color: $text-secondary-body-color;
  }

  .box-wrapper {
    height: auto;
    transition: all 0.3s ease-in-out;
  }

  .history-detail {
    border: none;
    box-shadow: $shadow-shade-1 !important;

    .ant-collapse-item {
      border-bottom: none;
    }

    .ant-collapse-content {
      border-top: 1px px solid $text-error-line-color;
      margin: 0 20px;
    }
  }
}

.timesheet-history,
.timesheet-top-heading {
  .seperator {
    width: 1px;
    height: 32px;
    transform: translate(90deg);
    background-color: $primary-bg-color;
    margin: 0 20px;
  }
}

.common-header {
  .input-wrapper {
    width: 300px;
  }

  .drop-down-new {
    width: 250px;
  }

  .drop-down-with-imgs {
    background: $text-input-bg-color;
    border-radius: 8px;
    display: block;
    padding: 6px 12px;
    color: $text-success-placeholder-color;
    cursor: pointer;
    text-transform: capitalize;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover,
    &.active {
      border: 2px solid $input-hover-color;
      background-color: $white-bg-color;
    }
  }
}