@import "../../../scss/colors";

.received {
  .contract-steps.ant-steps .ant-steps-item {
    .ant-steps-item-container .ant-steps-item-content {
      border: 1px solid !important;
      border-radius: 8px;
    }

    .ant-steps-item-content .ant-steps-item-title::after {
      height: 3px !important;
    }

    &.ant-steps-item-active .ant-steps-item-container .ant-steps-item-content {
      border-color: $green-graph-tooltip-color !important;
      border-radius: 8px;

      .ant-steps-item-title {
        color: $green-graph-tooltip-color !important;
      }
    }

    &.ant-steps-item-wait .ant-steps-item-container .ant-steps-item-content {
      background-color: $light-gray-thin-color !important;
      border-color: $light-gray-thin-color !important;

      .ant-steps-item-title {
        color: $text-primary-disabled-color !important;
      }
    }

    &.ant-steps-item-finish .ant-steps-item-container .ant-steps-item-content {
      background-color: $green-graph-tooltip-color !important;
      border-color: $green-graph-tooltip-color !important;

      .ant-steps-item-title {
        color: $white-bg-color;

        &::after {
          background-color: $green-graph-tooltip-color !important;
        }
      }
    }
  }
}

.contract-student {
  .contract-student-title {
    color: $dashboard-primary-bg-color;
  }

  .contract-status {
    padding: 10px;
    display: flex;
    align-items: center;
    background: $white-bg-color;
    border: 1px solid $text-input-bg-color;
    border-radius: 10px;
  }

  .status-box {
    margin-right: 2rem;
    width: 20px;
    height: 20px;
    border-radius: 4px;
  }

  .status-box-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $text-primary-title-color;
  }

  .contract-status-recieved {
    padding: 14px;
    display: flex;
    align-items: center;
    background: $white-bg-color;
    border: 1px solid $text-input-bg-color;
    border-radius: 10px;

    .contract-status-recieved-title {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: $text-primary-title-color;
    }

    .contract-status-recieved-sub {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $text-secondary-body-color;
    }
  }
}

.scroll .cards {
  border-color: $cards-border-color;
}

.btn-clr {
  background-color: $teriary-bg-color;
}

.btn-border {
  border-color: $teriary-bg-color;
}

.change-btn-clr {
  border-color: $light-red-color;
}