.shs-filter-form {
  .shs-form-group {
    .form-group-title {
      font-size: 16px;
      font-weight: 500;
      color: #14142A;
      line-height: 1.5;
      margin-bottom: 10px;
    }
  }
}

.requests-filterby-status, .requests-filterby-agent {
  .ant-select {
    .ant-select-selector {
      min-width: 180px;
    }
  }
}

.agents-dropdown.ant-select-dropdown {
  min-width: 205px !important;
}

.agent-option {
  display: flex;
  align-items: center;

  & > .ant-avatar {
    height: 24px;
    width: 24px;
    margin-right: 16px;
    min-width: 24px;

    .ant-avatar-string {
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}

.ant-select-dropdown.offer-filter {
  .ant-select-item {
    padding-left: 0;
    padding-right: 0;

    .ant-select-item-option-state {
      margin-right: 20px;
    }

    &.ant-select-item-option-selected {
      background-color: #fff;
    }
  }
}

.dropdown-time-frame {
  & > .drop-down-wrapper {
    height: 48px;
  }
}

.page-filterbar{
  @media only screen and (max-width:1060px) {
    display: block;
    .page-filterbar-right{
      margin-top: 20px;
    }
    .main-filter-btns{
      @media  only screen and (max-width:400px) {
       flex-direction: column;
       width: 100%;
      }
    }
  }
}