@import "../../../../../scss/_colors.scss";
.payroll-add-category{
    .ant-form-item .ant-form-item-control-input-content {
        .ant-input {
          background: $text-input-bg-color;
          border: 1px solid white;
          &:hover{
            background: $white-bg-color;
    
          }
        }
      }
      .ant-picker {
        background: $text-input-bg-color !important;
        border: 1px solid white;
        &:hover{
          background: $white-bg-color !important;
  
        }
      }
      .add-button{
        font-size: 16px;
        font-weight: 600;
        font-family: 'Outfit';
        &:hover{
       opacity: 85%;
       color: $white-bg-color !important;
       outline: 3px solid rgba(161, 177, 169, 0.5) !important;
       border: none !important;
        }

      }
      .active {
        border: none !important;
    }

}