@import "../../scss/colors";
.svgIcon {
  height: 100px;
  width: 100px;
  transition: padding 0.2s ease-in-out;
}
.emoji-mood-container {
  @media only screen and (max-width: 768px) {
    .emoji-wrapper {
      flex-wrap: wrap;
      .emoji-container {
        flex-basis: 50%;
      }
    }
  }
}

.svgIcon:hover {
  padding: 0;
  cursor: pointer;
}

.name-font-size {
  font-size: 16px;
  font-weight: 500;
}
