@import "../../scss/colors";
.svgIcon {
    padding: 15px;
    transition: padding 0.5s;
}
.svgIcon:hover{
    padding: 0px;

}
.name-font-size {
    font-size: 12px ;
    @screen sm {
        font-size: 16px ;
    }
}