@import '../../../../scss/colors';
.uni-interns-filter_main_wrapper{
  .drop-down-wrapper{
    background: $white-bg-color;
    border: 1px solid $text-primary-disabled-color;
  }
  .ant-picker{
    background: $white-bg-color;
    border: 1px solid $text-primary-disabled-color;

  }
  .company-admin-filter-footer{
    .footer-cancel-btn {
      border: 1px solid $teriary-bg-color !important;
      color: $teriary-bg-color !important ;
      padding: 0px 20px;
    }
    .footer-submit-btn {
      background: $teriary-bg-color;
      border: 1px solid $teriary-bg-color;
      color: $white-bg-color;
      padding: 0px 20px;
    }
  }
}

.university-intern-card{
  .ant-btn {
    min-width: 80px;
}
  .Completed{
    background: $text-info-color;
  }
  .Employed{
    background: $text-success-color;
  }
  .Terminated{
    background: $page-header-secondary;
  }
  .card-box{
    border: 1px solid $text-error-line-color ;
    box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
  
  }
  .intern-card-profile-button{
    background:#ebf6fc;
    color: #33A5E5;
   
    &:hover{
      background:#33A5E5 ;
      color: $white-bg-color;
    }
  }
  .intern-card-chat-button{
    color: $teriary-bg-color;
    background: #edf5f1;

    &:hover{
      background:$teriary-bg-color ;
      color: $white-bg-color;
    }
  }
 
  }