@import "../../scss//colors";
@mixin tablestyel {
  table {
    .ant-table-thead {
      tr {
        .ant-table-cell {
          color: $text-primary-title-color;
          font-weight: 400;
          text-align: left;
          background: $text-input-bg-color;
          border-bottom: unset;
          padding-top: 18px;
          padding-bottom: 18px;
          &:first-child{
            text-align: right;
          }

          &::before {
            content: unset !important;
          }
        }
      }
    }

    .ant-table-tbody {
      background-color: $white-bg-color;

      .ant-table-row {
        &:hover {
          .ant-table-cell {
            background: unset;
            border-bottom: 1px solid $text-error-line-color;
          }
        }

        .ant-table-cell {
          border-bottom: 1px solid $white-bg-color;
          text-align: left;
          color: $text-secondary-body-color;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          &:first-child{
            text-align: right;
          }
        }

        .ant-table-row-expand-icon-cell {
          .ant-table-row-expand-icon {
            padding: 1px;
            border: 2px solid $light-grey-color;

            &::before {
              color: $light-grey-color;
              top: 50%;
            }

            &::after {
              color: $light-grey-color;
              left: 50%;
              bottom: 2.5px;
              transform: translateX(-50%) rotate(0deg);
            }
          }

          .ant-table-row-expand-icon-expanded {
            background-color: $light-grey-color !important;

            &::before {
              color: $white-bg-color;
              top: 50%;
            }

            &::after {
              color: $white-bg-color;
              top: unset;
              transform: translateX(-50%) rotate(90deg);
              inset-inline-start: 50%;
            }
          }
        }
      }

      .ant-table-expanded-row {
        .ant-table-cell {
          background: rgba(106, 173, 142, 0.2);
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }
    }
  }
}

@mixin pagination {
  .ant-pagination {
    .ant-pagination-prev {
      background: $white-bg-color;
      border: 1px solid $text-error-line-color;

      &:hover {
        &:not(.ant-pagination-disabled) {
          .ant-pagination-item-link {
            background-color: $text-input-bg-color;
          }
        }
      }

      .ant-pagination-item-link {
        svg {
          path {
            fill: $text-success-placeholder-color;
          }
        }
      }

      &.ant-pagination-disabled {
        background-color: $text-primary-disabled-color;
        border: unset;

        .ant-pagination-item-link {
          svg {
            path {
              fill: $white-bg-color;
            }
          }
        }
      }
    }

    .ant-pagination-next {
      background: $white-bg-color;
      border: 1px solid $text-error-line-color;

      &:hover {
        &:not(.ant-pagination-disabled) {
          .ant-pagination-item-link {
            background-color: $text-input-bg-color;
          }
        }
      }

      .ant-pagination-item-link {
        svg {
          path {
            fill: $text-success-placeholder-color;
          }
        }
      }

      &.ant-pagination-disabled {
        background-color: $text-primary-disabled-color;
        border: unset;

        .ant-pagination-item-link {
          svg {
            path {
              fill: $white-bg-color;
            }
          }
        }
      }
    }

    .ant-pagination-item {
      border: 1px solid $text-error-line-color;

      &:not(.ant-pagination-item-active) {
        &:hover {
          background-color: $text-input-bg-color;
        }
      }
    }

    .ant-pagination-item-active {
      border: 1px solid $green-graph-tooltip-color;
      background-color: $green-graph-tooltip-color;

      a {
        color: $white-bg-color;
      }
    }

    // .ant-select-focused.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector
    .ant-pagination-options {
      .ant-select {
        &:hover {
          .ant-select-selector {
            border: 1px solid $text-error-line-color;
            background-color: $text-input-bg-color;
          }
        }

        .ant-select-selector {
          border: 1px solid $text-error-line-color;
        }
      }

      .ant-select-focused.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer)
        .ant-select-selector {
        box-shadow: none;
        border: 1px solid $text-error-line-color;
        background: $text-input-bg-color;
      }
      .ant-select-dropdown {
        .rc-virtual-list-holder-inner {
          // .ant-select-item-option{
          // }
          .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
            color: $white-bg-color;
            background-color: $green-graph-tooltip-color;
          }
          .ant-select-item-option-active {
            background: $text-input-bg-color;
          }
        }
      }
    }
  }
}

@mixin Counter {
  position: absolute;
  left: 0;
  bottom: 22px;
  // color: $green-graph-tooltip-color;
}

.primary_table_wrapper {
  position: relative;

  .ant-table-content {
    @include tablestyel;
  }

  @include pagination;

  .Counter {
    @include Counter;
  }
}

.whiteHeadTable {
  position: relative;

  .ant-table-content {
    @include tablestyel;

    table {
      .ant-table-thead {
        tr {
          .ant-table-cell {
            background: $white-bg-color;
          }
        }
      }
    }
  }

  @include pagination;

  .Counter {
    @include Counter;
  }
}
