.main_view_detail {
    .SearchBar {
        max-width: 375px;
    }

    .Request_leave {
        box-shadow: none !important;

        &:hover {
            background-color: red;
        }
    }

}

.action_dropDown {
    box-shadow: 0px 0px 8px 2px rgba(9, 161, 218, 0.1);
}

.drawar_main {
    .ant-drawer-wrapper-body {
        .ant-drawer-header {
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: unset;

            .ant-drawer-header-title {
                flex-direction: row-reverse;

                .ant-drawer-title {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 32px;
                    color: #363565;
                }
            }
        }
    }

    .ant-drawer-body {
        padding: 0 20px;

        // .data_container {}

    }

    .Record_data {
        .ant-drawer-wrapper-body {
            .ant-drawer-header {
                padding: 0px;
            }
        }

        .ant-drawer-body {
            padding: 30px 20px;
        }
    }

}