#primary_color{
    border-radius: 0.375rem;
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    outline: none;
    -webkit-appearance: none;
}

#primary_color::-webkit-color-swatch-wrapper {
    padding: 0; 
}
#primary_color::-webkit-color-swatch {
    border: none;
    border-radius: 0.375rem;
}

