@import "../../../../scss/_colors.scss";

.manage_calendar_wrapper {
  .fc-view-harness {
    height: 390px !important;
  }
  .fc-header-toolbar {
    margin-bottom: 0px !important;
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: 2px solid #D9DBE9;;
    .fc-toolbar-chunk:nth-child(2) {
      display: flex;
      align-items: center;

      .fc-toolbar-title {
        color: $text-primary-title-color;
        font-size: 16px;
        font-weight: 400;
        position: relative;
        // max-width: 100px;

        &::before {
          position: absolute;
          content: '';
          // background-image: url('../../../../assets/images/timesheet/calender-icon.png');
          height: 24px;
          width: 24px;
          left: -30px;
          top: -2px;
        }
      }

      .fc-button {
        all: unset;
        border: 1px solid $text-error-line-color;
        border-radius: 4px;
        cursor: pointer;

        .fc-icon {
          color: $light-grey-color;
        }

        &.fc-prev-button {
          margin-left: 30px;
          border-right: 0px;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }

        &.fc-next-button {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }
      }

    }
  }

  .fc-timeline-slot-frame {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }

  .fc-theme-standard .fc-scrollgrid {
    border: unset !important;
  }

  .fc-datagrid-cell-frame,
  .fc-timeline-slot-frame {
    height: 65px !important;
  }

  .fc-timeline-events.fc-scrollgrid-sync-inner {
    height: 55px !important;

    .fc-timeline-event-harness {
      top: 50% !important;
      transform: translateY(-50%);
    }
  }

  .fc-h-event {
    border: none !important;
    background: none !important;
  }


  .fc-theme-standard th {
    border: unset;
    border-bottom: 1px solid $text-error-line-color !important;
  }

  .fc .fc-resource-timeline-divider {
    width: 0px !important;
  }

  .fc-theme-standard td {
    border: unset !important;
    border-bottom: 1px solid $text-error-line-color !important;
    // &:last-child{
    //   border-bottom: unset !important;
    // }
  }
}

.slot_Top_wrapper {
  ._day {
    color: $text-primary-title-color;
  }

  ._date {
    color: $text-primary-title-color;
  }
}

.leave_profile_wrapper {
  .profile_wrapper {
    flex: 0 0 48px;
  }

  ._name {
    color: $text-primary-title-color;
  }


  ._designation {
    color: $text-secondary-body-color;
  }
}

.drawar_main_calendar {
  .ant-drawer-wrapper-body {
    .ant-drawer-header {
      padding: 0px;
    }
  }

  .ant-drawer-body {
    padding: 30px 20px;
  }

}