@import '../../scss/_colors.scss';
.download-icon-style{
  border: 2px solid $text-input-bg-color;
  &:hover {
    border: 2px solid $text-error-line-color;
  }
  border-radius: 5px;
}
.ant-drawer-content-wrapper {
  .intern-drawer {
    .drop-down-wrapper {
      background-color: $white-bg-color !important;
      border: 1px solid $light-gray-thin-color;
      border-radius: 6px;
      height: 48px;
    }
  }
}
