@import '../../scss/_colors.scss';
.download-icon-style{
  border: 2px solid $text-input-bg-color;
  &:hover {
    border: 2px solid $text-error-line-color;
  }
  border-radius: 5px;
}
.user-dropdown-img{
  background-color: red;
}