@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./scss/colors";
body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: $text-secondary-body-color;
  margin: 0;
  @media (min-width: 1200px) {
    padding-bottom: 60px;
  }
}
.bank {
  background-color: red;
}

img,
svg {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

// 5 col grid
.shs-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.shs-col-5 {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  flex: 0 0 auto;
  width: 20%;
  @media (max-width: 1600px) {
    width: 25%;
  }
  @media (max-width: 1400px) {
    width: 33.333333%;
  }
  @media (max-width: 1024px) {
    width: 50%;
  }
  @media (max-width: 600px) {
    width: 100%;
  }
}


// Buttons
.ant-btn {
  min-width: 115px;
}

.ant-btn-primary {
  box-shadow: none;

  &:hover {
    box-shadow: 0 0 0 4px rgba(54, 53, 101, 0.1);
    background-color: $primary-light-bg-color;
  }

  &:disabled {
    background-color: $light-grey-color;
    border-color: $light-grey-color;
    color: #ffffff;
    box-shadow: none;
    cursor: auto;
  }
}

.ant-btn-default.button-secondary {
  background-color: $page-header-secondary;
  border-color: $page-header-secondary;
  color: #ffffff;
  &:hover {
    background-color: $page-header-secondary;
  border-color: $page-header-secondary;
  color: #ffffff;
  box-shadow: 0 0 0 3px rgba(74, 157, 119, 0.25);
  }
  &.ant-btn-background-ghost {
    background-color: transparent;
    color: $page-header-secondary;
  }
}
.ant-btn-default.button-tertiary {
  background-color: $teriary-bg-color;
  border-color: $teriary-bg-color;
  color: #ffffff;

  & > svg {
    margin-right: 12px;
    vertical-align: top;
  }
  &:hover {
    background-color: $teriary-bg-color;
    border-color: $teriary-bg-color;
    color: #ffffff;
    box-shadow: 0 0 0 3px rgba(74, 157, 119, 0.25);
  }
  &.ant-btn-background-ghost {
    background-color: transparent;
    color: $teriary-bg-color;
  }
}

// Form Inputs
.ant-form-item {
  margin-bottom: 30px;
  .ant-form-item-label {
    padding-bottom: 8px;
    & > label {
      color: $text-teriary-label-color;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}
.ant-input {
  border-color: $text-error-line-color;
  color: $text-primary-title-color;
  font-size: 16px;
  font-weight: 400;

  &::placeholder {
    color: $light-grey-color;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 0 2px rgba(90, 89, 128, 0.5);
    border-color: rgba(90, 89, 128, 0.5);
  }
}

.ant-select {
  .ant-select-selector {
    border-color: $text-error-line-color;
    color: $text-primary-title-color;
    font-size: 16px;
    font-weight: 400;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 2px rgba(90, 89, 128, 0.5);
      border-color: rgba(90, 89, 128, 0.5) !important;
    }
  }
  &.ant-select-open {
    .ant-select-selector {
      box-shadow: 0 0 0 2px rgba(90, 89, 128, 0.5) !important;
      border-color: rgba(90, 89, 128, 0.5) !important;
    }
  }
  &:hover {
    .ant-select-selector {
      border-color: $text-error-line-color;
    }
  }
  &.ant-select-focused {
    .ant-select-selector {
      box-shadow: 0 0 0 2px rgba(90, 89, 128, 0.5) !important;
      border-color: rgba(90, 89, 128, 0.5) !important;
    }
  }
}
.ant-select-dropdown {
  border: 2px solid $text-error-line-color;
  box-shadow: 0 0 8px 2px rgba(9, 161, 218, 0.1);
  padding: 10px;

  .ant-select-item {
    color: $text-secondary-body-color;
    font-size: 16px;
    line-height: 1.5;
    padding: 6px 16px;
    min-height: 40px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.02);
    }

    &.ant-select-item-option-selected {
      background-color: $light-sky-blue;
    }

  }
}

.ant-select.dropdown-filled {
  .ant-select-selector {
    background-color: $light-sky-blue;
    border-color: $light-sky-blue;

    &:hover {
      background-color: #ffffff;
    }

    &::placeholder {
      color: $light-grey-color;
    }
  }
}

// Slider
.ant-slider.ant-slider-horizontal {
  margin-bottom: 0;
  margin-top: 0;
  .ant-slider-rail {
    background-color: #FCECEE;
    height: 4px;
    border-radius: 8px;
  }
  .ant-slider-track {
    background-color: $primary-bg-color;
  }
  .ant-slider-step {
    display: none;
  }
  .ant-slider-handle {
    height: 20px;
    width: 20px;
    inset-block-start: 0;
    margin-top: -4px;
    &::before {
      height: 20px;
      width: 20px;
      margin: 0;
      inset-inline-start: 0;
      inset-block-start: 0;
    }
    &::after {
      box-shadow:inset 0 0 0 2px $primary-bg-color;
      height: 20px;
      width: 20px;
      margin: 0;
      inset-inline-start: 0;
      inset-block-start: 0;
    }
  }
  .ant-slider-mark-text {
    font-size: 14px;
    color: $text-secondary-body-color;
    line-height: 1.5714285;
  }
}

// Table
.shs-table-card {
  border-radius: 16px;
  box-shadow: 0 0 8px 1px rgba(9, 161, 218, 0.1);
  // padding: 20px;
}
.shs-table {
  .ant-table-wrapper {
    .ant-table {
      .ant-table-thead {
        tr {
          .ant-table-cell {
            color: $text-primary-title-color;
            font-weight: 400;
            text-align: left;
            background: $text-input-bg-color;
            border-bottom: unset;
            padding-top: 18px;
            padding-bottom: 18px;
  
            &::before {
              content: unset;
            }
          }
        }
      }

      .ant-table-tbody {
        background-color: $white-bg-color;
  
        .ant-table-row {
          &:hover {
            .ant-table-cell {
              background: unset;
              border-bottom: 1px solid $text-error-line-color;
            }
          }
  
          .ant-table-cell {
            border-bottom: 1px solid $white-bg-color;
            color: $text-secondary-body-color;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
          }
        }
  
      }
    }

    .ant-pagination.ant-table-pagination {
      padding: 0 20px;
      margin-top: 30px;
      margin-bottom: 20px;
      .ant-pagination-total-text {
        margin-right: auto;
        color: $light-grey-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        & > span {
          font-weight: 500;
        }
      }

      .ant-pagination-item {
        border: 1px solid $text-error-line-color;
        height: 32px;
        min-width: 32px;
        line-height: 30px;
  
        &:not(.ant-pagination-item-active) {
          &:hover {
            background-color: $text-input-bg-color;
          }
        }

        &.ant-pagination-item-active {
          border: 1px solid $green-graph-tooltip-color;
          background-color: $green-graph-tooltip-color;
    
          a {
            color: $white-bg-color;
          }
        }
      }
      .ant-pagination-prev {
        height: 32px;
        min-width: 32px;
        line-height: 30px;
        background: $white-bg-color;
        border: 1px solid $text-error-line-color;
  
        &:hover {
          &:not(.ant-pagination-disabled) {
            .ant-pagination-item-link {
              background-color: $text-input-bg-color;
            }
          }
        }
  
        .ant-pagination-item-link {
          svg {
            path {
              fill: $text-success-placeholder-color;
            }
          }
        }
  
        &.ant-pagination-disabled {
          background-color: $text-primary-disabled-color;
          border: unset;
  
          .ant-pagination-item-link {
            svg {
              path {
                fill: $white-bg-color;
              }
            }
          }
        }
      }
  
      .ant-pagination-next {
        height: 32px;
        min-width: 32px;
        line-height: 30px;
        background: $white-bg-color;
        border: 1px solid $text-error-line-color;
  
        &:hover {
          &:not(.ant-pagination-disabled) {
            .ant-pagination-item-link {
              background-color: $text-input-bg-color;
            }
          }
        }

        .ant-pagination-item-link {
          svg {
            path {
              fill: $text-success-placeholder-color;
            }
          }
        }
  
        &.ant-pagination-disabled {
          background-color: $text-primary-disabled-color;
          border: unset;
  
          .ant-pagination-item-link {
            color: #ffffff;
            svg {
              path {
                fill: $white-bg-color;
              }
            }
          }
        }
      }  
    }
  }

  .dropdown-button {
    display: inline-block;
    cursor: pointer;
  }

  .table-cell-btn {
    display: inline-block;
    cursor: pointer;
  }
}

.shs-status-badge {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57142857;
  padding: 2px 10px;
  background-color: $light-sky-blue;
  display: inline-block;
  border-radius: 6px;

  &.success {
    background-color: $text-success-color;
  }
  &.rejected {
    background-color: $accommodation-badge;
  }
  &.pending {
    background-color: $text-warning-color;
  }
}

// Page Filterbar
.page-filterbar {
  margin-bottom: 50px;
  display: flex;
  align-items: center;

  .page-filterbar-left {
    flex: 1;
    .searchbar-wrapper {
      max-width: 375px;
    }
  }

  .page-filterbar-right {
    
  }
}
