$black-color: #000000;
$white-color: #ffffff;
$primary-color: #FE5C36;
$secondary-color: #E76F51;
$danger-color: #ff5f68;
$title-color: #264653;
$selected-tab-color: #323131;
$orange-color: #E9C46A;
$error-color: #FF4D4F;
$Orange-color:#FF6A6C;
$bgLight-color:#FFF4F1;
$bgDark-color:#FFC6B8;
$successLight-color:#52C41A;
$successDark-color:#409D12;
$placeholder-color:#A5AEB5;
$grey-color:#3B4D60;
$innerProgress-color:#C7C7C7;
$progress-color:#2A9D8F;
$progressLight:#C0DDD9;
$heading-color:#0E0E0E;
$border-color:#A0ACBB;
$breadcrumb-color:#999999;
$checkbox-border-color:#C1C1C7;
$warning-color:#FAAD14;
$low-yellow-color:#FDCA64;
$line-color:#DBE4EF;
$varient4-color:#EAEEF2;
$default-color:#E5ECF3;
$blue-color:#1890FF;
$lightBlue-color:#6993FF;
$darkBlue-color:#1B2559;
$purple-color:#49416D;
$idleTime-color:#898347;
$light-green-progress-color: #37B4A4;
$light-yellow-color: #FACD74;
$darkGreen-color: #045162;
$darkOrange-color: #F78812;
$light-grey: #A3AED0;
$darkOrange-color:#F78812;
$lightOrange-color:#F4A261;
$lightDarkBlue-color:#0354A6;
$button-light-bg-color: #F4F9FF;
$delete-btn-bg-color: #FF5F68;
$light-grey:#A3AED0;
$darkRed-color: #E75151;