// InternShip Ken globalize colors
$primary-bg-color: #363565;
$primary-light-bg-color: #5a5980;
$secondary-bg-color: #e95060;
$secondary-light-bg-color: #e96f7c;
$teriary-bg-color: #4a9d77;
$teriary-light-bg-color: #6aad8e;
$white-bg-color: #ffffff;
$dashboard-primary-bg-color: #363565;
$dashboard-hover-bg-color: #252445;
$text-primary-title-color: #14142a;
$text-secondary-body-color: #4e4b66;
$text-teriary-label-color: #6e7191;
$text-success-placeholder-color: #a0a3bd;
$text-primary-disabled-color: #c4c4ca;
$text-error-line-color: #d9dbe9;
$text-link-color: #252d9b;
$text-off-white-color: #fcfcfc;
$text-input-bg-color: #e6f4f9;
$text-success-color: #3dc575;
$text-success-hover-color: #129252;
$text-error-color: #D83A52;
$text-error-hover-color: #B63546;
$text-warning-color: #FFC15D;
$text-info-color: #4783FF;
$red-graph-tooltip-color: #E95060;
$green-graph-tooltip-color: #4A9D77;
$input-hover-color:rgba(90, 89, 128, 0.5);
$dropdown-overlay-shadow:rgba(9, 161, 218, 0.1);
$date-picker-border-color:#E4E5E7;
$page-header-secondary: #E94E5D;
$accommodation-card-shadow:0px 0px 8px 2px rgba(9, 161, 218, 0.1);
$accommodation-badge:#E94E5D;
$accommodation-tag:#4472B7;
$accommodation-tag-bg:#DFEAFD;
$accommodation-btn-info:#33A5E5;
$accommodation-btn-info-bg:rgba(51, 165, 229, 0.1);
$accommodation-btn-teriary-bg:rgba(74, 157, 119, 0.1);
$certificate-btn-shadow:rgba(0, 0, 0, 0.043);
$certificate-label-disabled:#ABAFB1;
$certificate-textarea-bg:#F2F4F5;
$certificate-textarea-border:#DDE2E6;
$signature-border:#E5E5E5;
$certificate-card-overlay:rgba(0, 0, 0, 0.5);
$light-sky-blue: #E6F4F980;
$light-grey-color: #A0A3BD;
$select-disabled:#DDE2E5;
$shadow-shade-2:rgba(0, 0, 0, 0.2);
$light-grey-thin:#ccc;
$shadow-shade-1:0px 0px 8px 1px rgba(9, 161, 218, 0.1)