// InternShip Ken globalize colorsMethod4a9d771ass
$primary-bg-color: #363565;
$primary-light-bg-color: #5a5980;
$secondary-bg-color: #e95060;
$secondary-light-bg-color: #e96f7c;
$light-orange-color:#F08D97;
$teriary-bg-color: #4a9d77;
$teriary-light-bg-color: #6aad8e;
$reset-bg-color: #4a9d771a;
$white-bg-color: #ffffff;
$dashboard-primary-bg-color: #363565;
$dashboard-hover-bg-color: #252445;
$text-primary-title-color: #14142a;
$text-secondary-body-color: #4e4b66;
$text-teriary-label-color: #6e7191;
$text-success-placeholder-color: #a0a3bd;
$text-primary-disabled-color: #c4c4ca;
$text-error-line-color: #d9dbe9;
$text-link-color: #252d9b;
$text-off-white-color: #fcfcfc;
$text-input-bg-color: #e6f4f9;
$text-success-color: #3dc575;
$text-success-hover-color: #129252;
$text-error-color: #d83a52;
$text-error-hover-color: #b63546;
$text-warning-color: #ffc15d;
$text-info-color: #4783ff;
$text-info-color-dark: #33a5e5;
$red-graph-tooltip-color: #e95060;
$green-graph-tooltip-color: #4a9d77;
$input-hover-color: rgba(90, 89, 128, 0.5);
$dropdown-overlay-shadow: rgba(9, 161, 218, 0.1);
$date-picker-border-color: #e4e5e7;
$page-header-secondary: #e94e5d;
$accommodation-card-shadow: 0px 0px 8px 2px rgba(9, 161, 218, 0.1);
$accommodation-badge: #e94e5d;
$accommodation-tag: #4472b7;
$accommodation-tag-bg: #dfeafd;
$accommodation-btn-info: #33a5e5;
$manager-btn-info: #33a5e51a;
$accommodation-btn-info-bg: rgba(51, 165, 229, 0.1);
$accommodation-btn-teriary-bg: rgba(74, 157, 119, 0.1);
$dark-grey-color: #5E6366;
$certificate-btn-shadow: rgba(0, 0, 0, 0.043);
$certificate-label-disabled: #abafb1;
$certificate-textarea-bg: #f2f4f5;
$certificate-textarea-border: #dde2e6;
$signature-border: #e5e5e5;
$certificate-card-overlay: rgba(0, 0, 0, 0.5);
$light-sky-blue: #e6f4f980;
$light-grey-color: #a0a3bd;
$select-disabled: #dde2e5;
$shadow-shade-2: rgba(0, 0, 0, 0.2);
$light-grey-thin: #ccc;
$shadow-shade-1: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
$accommodation-card-shadow: 0px 0px 8px 2px rgba(9, 161, 218, 0.1);
$accommodation-badge: #e94e5d;
$accommodation-tag: #4472b7;
$accommodation-tag-bg: #dfeafd;
$accommodation-btn-info: #33a5e5;
$accommodation-btn-info-bg: rgba(51, 165, 229, 0.1);
$accommodation-btn-teriary-bg: rgba(74, 157, 119, 0.1);
$sky-blue-color: #9bd5e8;
$light-green-color: rgba(74, 157, 119, 0.1);
$light-blue-color: #e7f3fa;
$teriary-light :#343A40;
$light-gray-tertiary: #EFEEF2;
$active-color:#4ED185;
$line-color:#9FBC95;
$light-purple-color:#C0ACFF;
$purple-color:#CC7FD4;
$light-blue-color:#5879CE;
$light-gray-color:#B4BBC6;
$gray-color :#8991A0;
$off-white-color:#F8F8F8;
$comp-title:#2f2f2f;
$off-white-color:#F5F5F5;
$light-gray-thin-color:#D9D9D9;
$light-heading-color:#6C757D;
$light-step-color:#152536;
$yellow-status-color:#FFC15E;
$orange-status-color:#FF6F31;
$light-gray-color:#4783FF0D;
$light-yellow-color:#FFC15D4D;
$light-green-color:#3DC5751A;
$light-red-color:#D83A521A;
$sand-brown-color:#8f8d8d;
$dark-red-color:#4c0027;
$list-color:#14142b;
$dark-slate:#09a1da1a;


