@import "./colors";

:root {
  --themeHeader-bg: #002433;
  --white-color: #ffff;
  --black-color: #000000;
  --themeTitle-color: #264653;
  --gradient-bg: linear-gradient(180deg, #002433 0%, #033246 100%);
  --theme-card-gradient-bg: linear-gradient(180deg, #002433 0%, #124d66 100%);
  --themeBgLight-color: #FFF4F1;
  --light-grey-color: #c1c1c1;
  --grey-color: #3B4D60;
  --theme-grey-color: #3B4D60;
  --themeDark-grey-color: #4E6073;
  --themelight-grey-color: #7a8897;
  --theme-table-cell-bg: #fef9f8;
  --theme-dark-color: #002433;
  --theme-line-color: #DBE4EF;
  --theme-card-bg-2: #f9fafb;
  --theme-light-gray-p-color: #667085;
  --theme-checkbox: #dadada;
  --theme-dark-gradient-card: #838da1;
  --theme-gradient-card-hover: rgba(245, 236, 234, 0.5);
  --theme-gradient-card-box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  --theme-icons-div-color: #d4d4d4;
  --theme-button-stats-color: #eaeaea;

}

:root[data-theme='light'] {
  --main-bg-color: var(--themeBgLight-color);
  --header-bg: var(--themeBgLight-color);
  --title-color: var(--themeTitle-color);
  --grey-color: var(--grey-color);
  --border-color: #A0ACBB;
  --card-bg-color: rgb(255, 255, 255);
  --card-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
  --dark-grey-color: var(--themeDark-grey-color);
  --white-dark-bg: var(--white-color);
  --grey-p-color: var(--grey-color);
  --inverted-theme-bg: var(--title-color);
  --table-row-bg: var(--theme-table-cell-bg);
  --only-white-and-primary-color: var(--white-color);
  --line-color: var(--theme-line-color);
  --card-bg-color-2: var(--theme-card-bg-2);
  --light-grey-p-color: var(--theme-light-gray-p-color);
  --label-color: var(--theme-grey-color);
  --checkbox-border: var(--theme-checkbox);
  --card-gradient-bg: var(--theme-card-bg-2);
  --gradient-card-p-color: var(--theme-light-gray-p-color);
  --gradient-card-hover: var(--theme-gradient-card-hover);
  --graident-card-box-shadow: var(--white-color);
  --theme-ss-unselect-card-color: #FFFAF9;
  --theme-ss-selected-card-color: #FE5C361A;
  --icons-div-color: var(--theme-icons-div-color);
  --button-stat-color: var(--theme-button-stats-color);
}

:root[data-theme='dark'] {
  --main-bg-color: var(--gradient-bg);
  --header-bg: var(--themeHeader-bg);
  --title-color: var(--white-color);
  --grey-color: var(--light-grey-color);
  --border-color: #3B4D60;
  --card-bg-color: var(--themeTitle-color);
  --card-box-shadow: 0px 1px 6px rgb(255, 255, 255);
  --dark-grey-color: var(--themelight-grey-color);
  --white-dark-bg: var(--gradient-bg);
  --grey-p-color: var(--grey-color);
  --label-color: var(--light-grey-color);
  --inverted-theme-bg: var(--white-color);
  --table-row-bg: var(--header-bg);
  --only-white-and-primary-color: var(--theme-dark-color);
  --line-color: var(--themeDark-grey-color);
  --card-bg-color-2: var(--themeTitle-color);
  --light-grey-p-color: var(--theme-light-gray-p-color);
  --checkbox-border: var(--grey-p-color);
  --card-gradient-bg: var(--theme-card-gradient-bg);
  --gradient-card-p-color: var(--theme-dark-gradient-card);
  --gradient-card-hover: var(--gradient-bg);
  --graident-card-box-shadow: var(--theme-gradient-card-box-shadow);
  --theme-ss-unselect-card-color: var(--theme-card-gradient-bg);
  --theme-ss-selected-card-color: #FE5C361A;
  --icons-div-color: var(--themeTitle-color);
  --button-stat-color: var(--themeTitle-color);
}