@import "../../../../scss/colors";
.pricing-content {
  .pricing-content-subtitle {
    color: $text-teriary-label-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }

  .pricing-content-card {
    box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
    border-radius: 16px;
    padding: 10px 40px;
    margin-top: 30px;

    .pricing-card-list {
      list-style: none;
      padding: 0;
      margin: 0;
        & > li {
        padding: 20px 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        + li {
          border-top: 1px solid $text-input-bg-color;
        }

        & > .pricing-item-title {
          color: $text-secondary-body-color;
          font-size: 16px;
          font-weight: 600;
          line-height: 1.5;
        }

        & > .pricing-item-value {
          color: $text-teriary-label-color;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.5;
          margin-left: auto;
          min-width: 190px;
        }

        .during-your-stay {
          width: 100%;
          padding: 10px 0 10px 10px;
          .during-your-stay-inner {
            padding: 10px 0;
          }
          .during-your-stay-title {
            color: $text-secondary-body-color;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
          }

          .monthly-rent-row {
            padding: 10px 10px;
            display: flex;
            & > .monthly-rent-month {
              color: $text-teriary-label-color;
              font-size: 16px;
              font-weight: 400;
              line-height: 1.5;
            }
            & > .monthly-rent-rent {
              color: $text-secondary-body-color;
              font-size: 16px;
              font-weight: 500;
              line-height: 1.5;
              margin-left: auto;
              min-width: 180px
            }
          }
          .utilities-list {
            list-style: none;
            padding-left: 10px;
            padding-top: 5px;
            & > li {
              display: flex;
              align-items: center;
              color: $text-teriary-label-color;
              font-size: 16px;
              font-weight: 400;
              line-height: 1.5;
              padding: 5px 0;
            }
            .utilities-list-right {
              margin-left: auto;
              display: flex;
              align-items: center;

              .utilities-list-item-satus {
                margin-right: 10px;
              }

              .utilities-list-item-value {
                min-width: 190px;
              }
            }
          }
        }
        .pricing-table-discount-offer {
          font-size: 16px;
          font-weight: 600;
          line-height: 1.5;
          color: $text-secondary-body-color;
        }
      }
    }
  }
}