.main-dashboard {
  .card-main {
    background: #ffffff;
    border: 1px solid #d9dbe9;
    box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
    border-radius: 16px;
    padding: 5px;
  }
  .card-title {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #4e4b66;
    margin-top: 5px;
  }
  .card-number {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #4e4b66;
  }
  .status-card {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #4e4b66;
  }
  .status-dot {
    background: #d83a52;
    border-radius: 4px;
    width: 12px;
    height: 12px;
  }
  //     .img-bg{
  //         border: 1px solid red;
  //          background-color: #4783FF;
  //  opacity: 0.05;
  // border-radius: 10.9091px;
  //     }
  .graph-card {
    background: #ffffff;
    box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
    border-radius: 16px;
    padding: 1rem;
  }
  .recent-card {
    background: #ffffff;
    box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
    border-radius: 16px;
    padding: 1rem;
  }
  .recent-card-typo {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #4e4b66;
  }
  .recent-card-listing {
    background: #ffffff;
    box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
    border-radius: 16px;
    padding: 1rem;
    height: 50vh;
    overflow-y: scroll;
  }
  .inner-card {
    background: #ffffff;
    border: 1px solid #d9dbe9;
    box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
    border-radius: 16px;
    padding: 0.7rem;
    margin-top: 10px;
  }
}
.propert-detail {
  .social-info {
    margin: 1.5rem;

    .emp-social {
      padding-left: 1.5rem;
      font-family: "Outfit";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #4e4b66;
    }
  }
}

.listing-details {
  height: 92vh;
  overflow-y: scroll;
  .listing-styles-main {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #14142a;
  }
  .listing-styles-secondary {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;  
    color: #14142A;
  }
  .listing-description{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #4E4B66;
  }

}
.animate{
  background: "#FFFFFF";
  border-radius: 8px;
  padding:1rem;
  margin-top: 20px;
 
} 
.animate:hover {
  background-color: #E6F4F9;
}

.animate:hover .button-ts {
  display: block;
display: flex;
gap: 10px;
}

.animate .button-ts {
  display: none;
}

.activity-data{
  background: #FFFFFF;
    box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
    border-radius: 16px;
    padding: 10px;
  
  .main-title{
    font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
color: #363565;
  }
  .activity-data-table{
    background: #FFFFFF;
    box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
    border-radius: 16px;
    padding: 10px;
  }
}
