.main-dashboard{
    .card-main{
        background: #FFFFFF;
border: 1px solid #D9DBE9;
box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
border-radius: 16px;
padding: 5px;

    }
    .card-title{
        font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 28px;
color: #4E4B66;
    }
    .card-number
    {
        font-family: 'Outfit';
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 46px;
color: #4E4B66;
    }
    .status-card{
        font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
color: #4E4B66;
    }
    .status-dot{
        background: #D83A52;
border-radius: 4px;
width: 12px;
height: 12px;
    }
//     .img-bg{
//         border: 1px solid red;
//          background-color: #4783FF;
//  opacity: 0.05;
// border-radius: 10.9091px;
//     }
    .graph-card{
        background: #FFFFFF;
box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
border-radius: 16px;
padding: 1rem;
    }
    .recent-card{
        background: #FFFFFF;
        box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
        border-radius: 16px;
        padding: 1rem;
    }
    .recent-card-typo{
        font-family: 'Outfit';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
color: #4E4B66;

    }
    .recent-card-listing{
        background: #FFFFFF;
        box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
        border-radius: 16px;
        padding: 1rem;
        height: 50vh;
        overflow-y: scroll;
    }
    .inner-card{
background: #FFFFFF;
border: 1px solid #D9DBE9;
box-shadow: 0px 0px 8px 1px rgba(9, 161, 218, 0.1);
border-radius: 16px;
padding: 0.7rem;
margin-top: 10px;
    }
}