
.horizontal-line-card{
    offset: 0px, 0px
    rgba(9, 161, 218, 0.1);
   border: 1px solid rgba(9, 161, 218, 0.1);
    .dark-gray {
        color: #4E4B66;
    }
    .light-gray{
        color:#A0A3BD
    }

}