@import '../../../../scss/colors';
.personalization-accordion {
  .ant-collapse.ant-collapse-borderless {
		border: none !important;
		color: $text-secondary-body-color !important;
		background-color: #fff;
		box-shadow: none;
    margin-bottom: 0 !important;

		& > .ant-collapse-item {
			border: none;
			font-size: 20px;
			font-weight: 500;
			line-height: 1.4;
			margin-top: 30px;

			&:first-child {
				margin-top: 0;
			}

			& > .ant-collapse-header {
				padding: 0;
			}

			.ant-collapse-content {
				& > .ant-collapse-content-box {
					padding: 0;
					padding-top: 20px;
				}
			}
		}
	}
}

.color-picker-group {
	margin-top: 30px;

	&:first-child {
		margin-top: 0;
	}
	.color-picker-label {
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		color: $light-grey-color;
		margin-bottom: 10px;
	}

	.color-picker-row {
		display: flex;
	
		.color-picker-input-bg {
			height: 48px;
			width: 48px;
			margin-right: 20px;
			& > input {
				height: 48px;
				width: 48px;
				border-radius: 8px;
				padding: 0;
				outline: none;
				border: none;
				-webkit-appearance: none;
	
				&::-webkit-color-swatch-wrapper {
					padding: 0;
				}
				&::-webkit-color-swatch {
					border-radius: 8px;
					border: none;
				}
			}
		}
	
		.color-picker-input-value {
			flex: 1;
	
			& > input {
				width: 100%;
				height: 48px;
				border: none;
				background-color: $text-input-bg-color;
				outline: none;
				box-shadow: none;
				padding: 8px 16px;
				color: $light-grey-color;
				font-size: 16px;
				text-transform: uppercase;
				border-radius: 8px;
			}
		}
	
		.color-picker-reset {
			height: 48px;
			width: 48px;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $text-input-bg-color;
			margin-left: 20px;
			border-radius: 8px;
		}
	}
}

.ant-collapse-header {
	display: flex !important;
	flex-direction: row-reverse !important;
}

.accordionIcon {
	color: $primary-light-bg-color!important;
	font-size: 18px !important;
	border-radius: 4px !important;
}