@import "../../../scss/colors";

.button-style {
  background-color: $green-graph-tooltip-color;
  color: $white-bg-color;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: white !important;
    border: none;
    outline: none;
  }
}
