@import "../../../scss/colors";

.button-style {
  background-color: $green-graph-tooltip-color;
  color: $white-bg-color;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  // width: 90px;

  &:hover {
    color: white !important;
    border: none;
    outline: none;
  }
}
