.today-weather-container {
  background: linear-gradient(55.14deg, #61AACF 0%, #1C8DB4 98.62%);
  color: white;

  .ant-typography {
    color: white;
  }

  .todayDateTxt{
    font-weight: 500;
  }
}