@import '../../scss/_colors.scss';

.drag-drop-upload-style {
  border: 2px dashed $text-error-line-color;
  background-color: $white-bg-color;
  border-radius: 5px;
  &:hover {
    border: 2px dashed $select-disabled;
  }
}
.browse-text { 
  color: $text-error-color
}