@import '../../../scss/colors';

.grievances {
  .header-btn .button {
    background: $white-bg-color;
    border: unset;
    outline: 1px solid $teriary-bg-color;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    color: $teriary-bg-color;

    &:hover {
      outline: 1px solid rgba(74, 157, 119, 0.5);
    }
  }

  .card-share-wrapper {
    position: relative;
    height: 100%;
    border-radius: 16px;
    width: 100%;

    .card-share {
      background-color: $teriary-bg-color;
      border-radius: 16px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 1px;
      bottom: 0;
      right: 1px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 18px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;

      &>svg {
        margin-left: 8px;
      }
    }

    &:hover {
      .card-user-welcome {

        &::before {
          right: 116px;
        }
      }
    }
  }

  .top-card {
    border-radius: 16px;
    box-shadow: 8 8 8px 1px rgba(9, 161, 218, 0.1);
    background-color: #ffffff;

    .top-card-inner {
      display: flex;
      padding: 0 30px;
      border-color: $text-error-line-color;
    }

    &.card-user-welcome {
      height: 100%;
      position: relative;
      width: 100%;
      background-color: transparent;

      &>.ant-row {
        height: 100%;

        .top-card-inner {
          height: 100%;
          display: flex;
          align-items: center;
          padding-right: 0;

          @media (min-width: 992px) {
            min-height: 60px;
          }

          &.ref-number {
            @media (min-width: 992px) {
              padding-left: 0;
            }
          }

          .user-welcome-text {
            color: $primary-bg-color;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.333333;

            &>span {
              color: $page-header-secondary;
            }
          }

          .user-reference-no {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5714285;
            color: $text-secondary-body-color;

            &>.discipline {
              color: #F08D97;
              font-size: 16px;
              line-height: 1.5;
              font-weight: 500;

            }
          }
        }
      }
    }
  }

  .grievances-box-wrapper {
    border-radius: 16px;
    box-shadow: 8 8 8px 1px rgba(9, 161, 218, 0.1) !important;
    background-color: #ffffff;

    &:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    }
  }

  .grievance-stats-box {
    height: 450px;
    padding: 20px
  }
}

.grievance-details {
  .grievancesDetails-boxWrapper{
    padding: 10px 20px;

  }
  .asignee-wrap {
    .drop-down-with-imgs {
      background: $white-bg-color;
      // border-radius: 8px;
      display: block;
      padding: 6px 12px;
      color: $text-success-placeholder-color;
      cursor: pointer;
      text-transform: capitalize;
      // border: 1px solid $text-error-line-color;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 48px;
    }
  }
  .grievance-details-scroll{
    height: 70vh;
    overflow: auto;
    
  }
  .ant-divider-horizontal {
    background: $text-error-line-color !important;
  }

  .replay-btn {
    &:hover {
      background: $teriary-bg-color;
    }
  }

  .ant-select-selector {
    border: none !important;

    &:hover {
      border: none !important;
    }
  }

  .attandance-button {
    color: $text-success-placeholder-color !important;

    &:hover {
      border: 1px solid $text-success-hover-color;
    }
  }
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  border-color: #d9d9d9 !important;
  box-shadow: none !important;
}

.blow-whistle-footer,
.whistle-footer {
  .footer-cancel-btn {
    border: 1px solid $teriary-bg-color !important;
    color: $teriary-bg-color !important;
    padding: 0px 20px;
  }

  .footer-submit-btn {
    background: $teriary-bg-color;
    border: 1px solid $teriary-bg-color;
    color: $white-bg-color;
    padding: 0px 20px;

    &:hover {
      opacity: 75%;
      color: $white-bg-color !important;
      outline: 3px solid rgba(161, 177, 169, 0.5) !important;
      border: none !important;
    }
  }
}

.blow-Whistle-Form {
  .drop-down-wrapper {
    background: $white-bg-color;
    border: 1px solid $text-error-line-color;

    &:hover {
      box-shadow: 0 0 0 2px rgb(90 89 128 / 50%);
      border-color: rgba(90, 89, 128, 0.5);
    }
  }

  .asignee-wrap {
    .drop-down-with-imgs {
      background: $white-bg-color;
      border-radius: 8px;
      display: block;
      padding: 6px 12px;
      color: $text-success-placeholder-color;
      cursor: pointer;
      text-transform: capitalize;
      border: 1px solid $text-error-line-color;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 48px;

      &:hover,
      &.active {
        border: 2px solid $input-hover-color;
        background-color: $white-bg-color;
      }
    }
  }

}