@import '../../scss/colors';

.main_calender_drawer_data_wrapper {
  .user_profile {
    .profilData_wrapper {
      .details {
        .name_of_person {
          color: $text-primary-title-color;
        }

        .designation {
          color: $text-secondary-body-color;
        }

        .email {
          color: $text-secondary-body-color;
        }
      }
    }

    .request_data,
    .File_wrapper
     {
      h4 {
        color: $text-primary-title-color;
      }

      p {
        color: $text-secondary-body-color;
      }
      p.Status{
        color: $white-bg-color;
      }
    }
  }

  .leaveType {
    color: $dashboard-primary-bg-color;
  }

  .File_wrapper {
    background-color: $text-input-bg-color;
  }

  .decline-btn{
    border: 1px solid $secondary-bg-color;
  }

  .decline-btn:hover{
    color: $white-bg-color !important;
    background-color: $text-error-color !important;
  }
  
  .approve-btn{
    border: 1px solid $teriary-bg-color;
  }

  .approve-btn:hover{
    color: $white-bg-color !important;
    background-color: $teriary-bg-color;
  }
}