.create-passwor-btn {
  width: 450px;
  height: 48px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.043);
  border-radius: 8px;
  color: white;
  &:hover {
    color: white !important;
  }
}
.ant-input {
  background: "#E6F4F9" !important;
}
