.ant-layout {
  background-color: #fff !important;

  .ant-layout.ant-layout-has-sider {
    overflow-x: hidden;
    min-height: calc(100vh - 120px);
    @media (min-width: 601px) {
      min-height: calc(100vh - 130px);
    }
    @media (min-width: 992px) {
      min-height: calc(100vh - 140px);
    }
  }
  .ant-layout-content {
    padding: 30px;
    transition: all 0.2s;
    position: relative;

    @media (max-width: 767px) {
      margin-left: 0 !important;
    }
  }
}