@import "../../scss/colors";

.main-dashboard {
 
  ::-webkit-scrollbar-thumb {
    background: $white-bg-color !important; 
  }
 
  .card-main {
    background: $white-bg-color;
    border: 1px solid $text-error-line-color;
    box-shadow: $accommodation-card-shadow;
    border-radius: 16px;
    padding: 5px;
    height: 170px;
  }
  .card-title {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $dashboard-primary-bg-color;
    margin-top: 5px;
  }
  .card-number {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: $dashboard-primary-bg-color;
  }
  .status-card {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $dashboard-primary-bg-color;
  }
  .status-dot-active {
    background: #3DC575;
    border-radius: 4px;
    width: 12px;
    height: 12px;
  }
  .status-dot-inactive {
    background: #D83A52;
    border-radius: 4px;
    width: 12px;
    height: 12px;
  }
  .graph-card {
    background: $white-bg-color;
    box-shadow: $accommodation-card-shadow;
    border-radius: 16px;
    padding: 1rem;
  }
  .recent-card {
    background: $white-bg-color;
    box-shadow: $accommodation-card-shadow;
    border-radius: 16px;
    padding: 1rem;
  }
  .recent-card-typo {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: $dashboard-primary-bg-color;
  }
  .recent-card-listing {
    background: $white-bg-color;
    box-shadow: $accommodation-card-shadow;
    border-radius: 16px;
    padding: 1rem;
    height: 55vh;
    overflow-y: scroll;
  }
  .recent-card-listing::-webkit-scrollbar {
    width: 0px;
  }
  .inner-card {
    background: $white-bg-color;
    border: 1px solid $text-error-line-color;
    box-shadow: $accommodation-card-shadow;
    border-radius: 16px;
    padding: 0.7rem;
    margin-top: 10px;
  }
}
.propert-detail {
  .social-info {
    margin: 1.5rem;

    .emp-social {
      padding-left: 1.5rem;
      font-family: "Outfit";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: $dashboard-primary-bg-color;
    }
  }
}

.listing-details {
  height: 92vh;
  overflow-y: scroll;

  .listing-styles-main {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $text-primary-title-color;
  }
  .listing-styles-secondary {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $text-primary-title-color;
  }
  .listing-description {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $dashboard-primary-bg-color;
  }
}
.animate {
  background: "$white-bg-color";
  border-radius: 8px;
  padding: 1rem;
  margin-top: 20px;
}
.animate:hover {
  background-color: $text-input-bg-color;
}

.animate:hover .button-ts {
  display: block;
  display: flex;
  gap: 10px;
}

.animate .button-ts {
  display: none;
}

.activity-data {
  background: $white-bg-color;
  box-shadow: $accommodation-card-shadow;
  border-radius: 16px;
  padding: 10px;

  .main-title {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: $primary-bg-color;
  }
  .activity-data-table {
    background: $white-bg-color;
    box-shadow: $accommodation-card-shadow;
    border-radius: 16px;
    padding: 10px;
  }
}
.listing-details::-webkit-scrollbar {
  width: 0px;
}

.property-agent-table {
  .agent-right-menu{
    flex-wrap: wrap;
    @media only screen and (max-width:768px) {
      margin: 10px 0px;
      flex-basis: 100%;
    }
  }
  .inner-agent-table {
    background: $white-bg-color;
    box-shadow: $accommodation-card-shadow;
    border-radius: 16px;
    padding: 10px;
  }
}
.listing-request{
  .table-status-style{
      color: $white-bg-color;
  }
}