@import "../../scss/colors";

.ant-btn.ant-btn-default.button-theme-primary {
  background-color: var(--theme-button-primary-bg);
  border-color: var(--theme-button-primary-bg);
  color: $white-bg-color;

  & > svg {
    margin-right: 12px;
    vertical-align: top;
  }

  &:hover {
    background-color: var(--theme-button-primary-bg);
    border-color: var(--theme-button-primary-bg);
    color: $white-bg-color;
    box-shadow: 0 0 0 3px var(--theme-button-primary-hover);
  }

  &:disabled {
    background-color: $off-white-color;
    border-color: $light-gray-thin-color;
    color: $text-primary-disabled-color;

    &:hover {
      background-color: $off-white-color;
    border-color: $light-gray-thin-color;
    color: $text-primary-disabled-color;
    box-shadow: none;
    }
  }
}

// .ant-btn-default:disabled,
// .ant-btn.button-sky-blue:disabled,
// .ant-btn.button-default-tertiary:disabled,
// .ant-btn.button-secondary:disabled {
//   background-color: $off-white-color;
//   border-color: $light-gray-thin-color;
//   color: $text-primary-disabled-color;

//   &:hover {
//     background-color: $off-white-color;
//     border-color: $light-gray-thin-color;
//     color: $text-primary-disabled-color;
//     box-shadow: none;
//   }
// }
